/*
Theme Name: Gradnja Theme
Theme URI: https:gradnja.rs
Author: Purezeen
Description: Odgovor kuću gradi. Portal građevinarstva i arhitekture. 
Version: 0.0.1
Requires PHP: 7.4
Text Domain: gradnja
this additional css move to sass 
*/

.cover{
	background-size: cover !important;
}

 @media only screen and (max-width: 700px){
    .map-iframe {
        height: 500px !important;
    }
 }

.mm-navbars_bottom, .mm-listitem:after{
	border-color:rgba(0,0,0,.1);
}



@media only screen and (max-width: 992px){
    blockquote:before{
	   top:10px !important;
    }
	blockquote p{
		padding-top:36px !important;
		margin-bottom:0 !important;
	}
	.sidebar-block iframe{
		width:initial !important;
	}
	.sidebar-block.advertising > div{
       display:inline-block;
    }
	
 }

@media only screen and (max-width: 594px){
    .home-card.inline-baner{
		width:100% !important;
	}
	.sidebar-block{
		margin-bottom:25px !important;
	}
 }

.fakto__item a{
	color: #2d7ba8;
}

.fakto__item a:hover{
	opacity:0.8;
}

@media only screen and (min-width: 768px) {
    .header-post-image {
        width: 100%;
    }
	div#div-gpt-ad-1617364950269-0 iframe{
		height:195px;
	}
}

@media only screen and (min-width: 992px) {
    .header-wrap .logo {
        width: 150px !important;
		padding-top:13px;
    }
}

@media only screen and (min-width: 1300px) {
    .promo-header {
        height:100px;
    }
}

@media only screen and (max-width: 420px) {
    .promo-header {
        max-height:61px;
    }
}

