.fakto {
    margin-bottom: 15px;
    &__title {
        margin-bottom: 14px;
    }
    &__item {
        padding: 7px;
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }
        >p {
            margin: 0;
            display: inline;
        }
    }
    &__label {
        margin: 0 5px 0 0;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #616161;
    }
}

@media only screen and (min-width: 768px) {
    .fakto {
        &__title {
            margin-bottom: 20px;
        }
        &__item {
            padding: 11px 7px;
        }
    }
}