$form-main-color: grey;
$grey: grey;
$white: white;

$light-grey: grey;

@mixin opensans() {
	font-family: 'Open Sans', sans-serif;
}

.white {
	background-color: $white;
}
form {
	p {
		position: relative;
	}

	em {
		color: $form-main-color;
		text-align: left;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: all 0.3s ease-in-out;
		font-size: 15px;
		color: #7b7b7b;
		@include opensans;
	}

	input[type='text'],
	input[type='date'],
	input[type='datetime'],
	input[type='email'],
	input[type='number'],
	input[type='tel'],
	input[type='search'],
	input[type='time'],
	input[type='url'],
	input[type='time'],
	input[type='date'],
	textarea,
	select {
		@include opensans;
		color: #7b7b7b;
		font-weight: 300;
		font-size: 15px;
		z-index: 2;
		position: relative;
		width: 100%;
		padding: 10px;
		outline: none;
		box-sizing: border-box;
		background: transparent;
		border: none;
		border-bottom: 1px solid $form-main-color;
		@include opensans;
	}

	textarea {
		border: 1px solid $form-main-color;
		@include opensans;
		font-size: 15px;
		@include opensans;
		@include opensans;
	}

	input[type='date'] {
		padding-left: 5.5rem;
		padding-bottom: 5px;
		position: relative;
		top: 3px;
	}

	.wpcf7-checkbox span,
	.wpcf7-radio span {
		font-size: 15px;
		margin-left: 0;
		margin-right: 1.2rem;
	}

	input[type='text']:focus,
	input[type='date']:focus,
	input[type='datetime']:focus,
	input[type='email']:focus,
	input[type='number']:focus,
	input[type='tel']:focus,
	input[type='search']:focus,
	input[type='time']:focus,
	input[type='url']:focus,
	textarea:focus,
	select:focus {
		// border: 1px solid $form-main-color;
	}

	// input checkbox

	input[type='checkbox'] {
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	input[type='checkbox']::-ms-check {
		display: none;
	}

	input[type='checkbox'] {
		position: relative;
		width: 15px;
		height: 15px;
		border: 1px solid $light-grey;
		vertical-align: -2px;
	}

	input[type='checkbox']::before {
		content: '';
		position: absolute;
		font-size: 14px;
		right: 0;
		top: -0.3em;
		visibility: hidden;
	}

	input[type='checkbox']:checked {
		background-color: red;
	}

	input[type='checkbox']:checked::before {
		visibility: visible;
	}

	// form validation

	span.wpcf7-not-valid-tip {
		position: absolute;
		left: 0;
		bottom: -35px;
		color: #e24040;
	}

	div.wpcf7-validation-errors,
	div.wpcf7-acceptance-missing {
		border: none;
		border-left: 4px solid #e24040;
		font-size: 16px;
		color: #909090;
		padding: 20px;
	}

	div.wpcf7-mail-sent-ok {
		border: none;
		border-left: 4px solid #578842;
		font-size: 16px !important;
		color: #909090;
		padding: 20px;
	}
}

.header-gradiliste {
	font-size: 34px;
	font-weight: 700;
	line-height: 40px;
	padding-top: 75px;
	padding-bottom: 70px;
	padding-left: 11px;
}

.container-gradiliste {
	/* flex-direction: row; */
	display: flex;

	@media screen and (max-width: 550px) {
		flex-direction: column-reverse;
	}
}

.row-gradiliste {
	width: 350px;
	padding-right: 50px;

	@media screen and (max-width: 550px) {
		padding: 0 20px;
	}
}

.addPageDiv {
	padding: 10px;

	h6 {
		padding: 15px 0;
		font-size: 20px;
		line-height: 23px;
		font-style: normal;
		font-weight: 700;
	}

	form input[type='text'],
	form input[type='date'],
	form input[type='datetime'],
	form input[type='email'],
	form input[type='number'],
	form input[type='tel'],
	form input[type='search'],
	form input[type='time'],
	form input[type='url'],
	form input[type='time'],
	form input[type='date'],
	form textarea,
	form select {
		appearance: none;
		border: 0;
		border-radius: 4px;
		color: rgb(66, 122, 164) !important;
		line-height: 1.25;
	}

	input::placeholder,
	select::placeholder,
	textarea::placeholder {
		color: rgb(66, 122, 164) !important;
	}
}

.addPageDiv input,
.addPageDiv select,
.addPageDiv input[type='text'],
.addPageDiv input[type='number'],
.addPageDiv textarea {
	appearance: none;
	background-color: #eff5ff !important;
	border: 0;
	border-radius: 4px;
	color: rgb(66, 122, 164) !important;
	line-height: 1.25;
	border-bottom: unset;
}

.addPageDiv input[type='submit'] {
	margin-top: 150px;
	width: 150px;
	height: 50px;
	color: #fff;
	background-color: #427aa4;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	font-style: normal;
	align-content: center;
	padding: 0;
}
