.job-item {
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    &__content {
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }
    .card-title {
        font-weight: 600;
        @include fluid-type(font-size, 320px, 1200px, 16px, 22px);
        @include fluid-type(line-height, 320px, 1200px, 20px, 26px);
        margin-top: 3px;
        margin-bottom: 6px;
    }
    .card-desc {
        display: none;
    }
    &__expired {
        padding: 1px 4px;
        background: #F7F7F7;
        border-radius: 1px;
        .iconify {
            color: #E29758;
        }
        span {
            color: #E29758;
        }
    }
    &__home {
        margin-bottom: 35px;
        .job-item {
            margin-bottom: 0;
        }
        .social-icon-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            h3 {
                width: 100%;
                margin-right: 20px;
                margin-bottom: 0;
            }
            .title-line {
                padding: 30px 0;
                @include fluid-type(padding-top, 320px, 990px, 10px, 30px);
                @include fluid-type(padding-bottom, 320px, 990px, 10px, 30px);
                transition: 0.3s ease;
                &:hover {
                    opacity: 0.8;
                }
            }
            .title-line a {
                text-transform: uppercase;
                font-size: 12px;
                color: #2b2b2b;
            }
        }
    }
    &__flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 14px;
        column-gap: 14px;
        .card-image img {
            height: 160px;
            object-fit: cover;
            object-position: center;
        }
    }
    .meta-data {
        margin-top: auto;
        row-gap: 0px;
    }
}

.jobs {
    &__header {
        // padding: 40px 0;
    }
    &__title {
        margin: 10px 0 30px 0;
        @include fluid-type(font-size, 320px, 1200px, 24px, 30px);
        @include fluid-type(line-height, 320px, 1200px, 30px, 35px);
    }
    &__filter-title {
        margin-bottom: 12px;
    }
    .btn {
        margin: 0;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: #3071a9;
            border-color: #285e8e;
        }
    }
}

#filter {
    .filter-item {
        padding: 10px 15px;
    }
    .column {
        margin-bottom: 15px;
    }
    label {
        display: block;
    }
}

.featured {
    &-jobs {
        margin-bottom: 20px;
        &__title {
            margin-bottom: 30px;
            @include fluid-type(font-size, 320px, 1200px, 24px, 30px);
            @include fluid-type(line-height, 320px, 1200px, 30px, 35px);
        }
        .card-title {
            font-size: 18px;
            line-height: 22px;
        }
    }
    &-job {
        margin-bottom: 20px;
        .card-image {
            position: relative;
            overflow: hidden;
            height: 0;
            padding-bottom: 63.25%;
        }
        .card-content {
            padding-top: 10px;
            padding-bottom: 24px;
        }
        .card-title {
            margin: 0 0 8px 0;
        }
    }
}

.card-image {
    &__placeholder {
        font-size: 30px;
        span {
            font-size: 37px;
        }
    }
    &__overlay {
        filter: grayscale(1);
    }
}

@media only screen and (min-width: 480px) {
    .jobs {
        &__filter-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 8px;
            align-items: flex-end;
        }
    }
}


/* ======== TABLET ======= */

@media only screen and (min-width: $tablet) {
    .job-item {
        margin-bottom: 60px;
        &__flex {
            grid-template-columns: 2fr 3fr;
            grid-column-gap: 30px;
            column-gap: 30px;
            .card-image img {
                height: auto;
            }
        }
        .card-desc {
            display: block;
        }
        .card-title {
            margin-top: 6px;
            margin-bottom: 0;
        }
    }
    .featured {
        &-jobs {
            margin-bottom: 65px;
            &__title {
                margin-bottom: 3rem;
            }
        }
    }
    .jobs {
        &__title {
            margin-bottom: 4rem;
        }
        .btn {
            width: auto;
            min-width: 32%;
            margin-left: auto;
        }
    }
}


/* ======== LAPTOP ======= */

@media only screen and (min-width: $laptop) {
    .job-item {
        &__img {
            // height: auto;
            // padding-bottom: 0;
            // min-height: 190px;
            // max-height: 225px;
        }
    }
}

// filter loader
.response-wrap {
    position: relative;
    min-height: 300px;
}

.loading {
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    &__icon {
        position: absolute;
        z-index: 999;
        left: 50%;
        margin-left: -2rem;
        top: 15rem;
        border: 4px solid #2d7ba8;
        border-radius: 50%;
        border-top: 3px solid rgba(0, 0, 0, 0.2);
        width: 4rem;
        height: 4rem;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// no-posts message
.no-posts {
    padding-top: 20px;
}

// full width images on mobile
// to treba biti do laptopa, onda ponistiti te stilove
.full-width-img {
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 32px);
    max-width: calc(100% + 32px);
}

.blog-slider {
    margin-left: -16px;
    margin-right: -16px;
}

.blog-slider .slides,
.blog-slider-item.radius {
    border-radius: 0;
}

.header-wrap .site-header .container {
    max-width: 100%;
}

.top-promo-header {
    // width: 100%;
    // padding-left: 16px;
    // padding-right: 16px;
}

.home-card .card-image,
.archive .card-image:not(.job-item__img),
.page-template-uradisam-template .card-image {
    @extend .full-width-img;
    border-radius: 0;
}

.home-card .card-image img,
.archive .card-image:not(.job-item__img) img,
.page-template-uradisam-template .card-image img {
    border-radius: 0;
}

.header-post-image,
.header-post-image img {
    border-radius: 0;
}

.header-post-image {
    @extend .full-width-img;
}

.post-image-caption {
    padding-left: 16px;
    padding-right: 16px;
}

.wp-caption img {
    @extend .full-width-img;
    border-radius: 0;
}

@media only screen and (min-width: 594px) {
    .home-card .card-image,
    .archive .card-image:not(.job-item__img),
    .page-template-uradisam-template .card-image {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
        border-radius: 8px;
    }
    .home-card .card-image img:not(.video-icon-img),
    .archive .card-image:not(.job-item__img) img:not(.video-icon-img),
    .page-template-uradisam-template .card-image img:not(.video-icon-img) {
        border-radius: 8px;
    }
}


/* ======== TABLET ======= */

@media only screen and (min-width: $tablet) {
    .blog-slider {
        margin-left: 0;
        margin-right: 0;
    }
    .blog-slider .slides,
    .blog-slider-item.radius {
        border-radius: 8px;
    }
    // .header-post-image,
    .header-post-image img {
        border-radius: 8px;
    }
    .header-post-image {
        margin-left: 0;
        margin-right: 0;
        width: auto;
        max-width: 100%;
    }
    .post-image-caption {
        padding-left: 0;
        padding-right: 0;
    }
    .wp-caption img {
        margin-left: 0;
        margin-right: 0;
        width: auto;
        max-width: 100%;
        border-radius: 8px;
    }
    .header-wrap .site-header .container {
        max-width: 1220px;
    }
}