// selected posts on the single page
// selected posts section
.selected-posts {
    margin-bottom: 1.5rem;
    &__title {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    &.widget-posts .widget-post {
        display: grid;
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
}

.selected-post {
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 70px auto;
    &:hover {
        opacity: 0.8;
    }
    &__img {
        &.img-wrap {
            height: 60px;
        }
    }
    &__content {
        margin-left: 15px;
    }
    &__title {
        @include fluid-type(font-size, 320px, 1200px, 12px, 14px);
        @include fluid-type(line-height, 320px, 1200px, 16px, 18px);
        margin-bottom: 7px;
    }
    .meta-data {
        opacity: 1;
        span {
            line-height: 11px;
        }
    }
    .post-publish-time {
        opacity: 0.7;
    }
}