.site.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    background-color: #fff;
}

.menu-dark-line {
    display: none;
}

@media (min-width: 1200px) {
    .menu-dark-line {
        position: absolute;
        width: 100%;
        height: 40px;
        background: #313131;
        display: block;
        top: 286px;
        z-index: -1;
    }
    body.logged-in .menu-dark-line,
    body.admin-bar .menu-dark-line {
        top: 318px;
    }
    .menu-dark-line:after {
        content: '';
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: -96px;
        background-color: rgba(0, 0, 0, 0.08);
    }
    // .site-content {
    //     padding: 0;
    // }
}