.label-tag {
    display: inline-flex;
    position: relative;
    gap: 0.5rem;
    font-size: 1.25rem;
    background-color: lighten($grey, 20%);
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 1px;
    transition: background-color 250ms ease-in-out;

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem;
        min-height: 20px;
    }

    &:hover {
        background-color: lighten($grey, 10%);
    }

    &__text {
        font-size: 12px;
        line-height: 1;
        padding-left: 0.8rem;
    }

    &__remove {
        $size: 20px;

        position: relative;
        padding: 0.5rem 0.35rem 0.5rem 0.8rem;
        height: $size;
        width: $size;
        border-left: 1px solid lighten($grey, 15%);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $grey;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::before {
            width: calc(#{$size} / 2);
            height: 2px;
        }

        &::after {
            width: 2px;
            height: calc(#{$size} / 2);
        }
    }
}

.map-tags {
    .label-tag {
        justify-content: center;
        padding: 0.5rem 1rem;

        &.active {
            background-color: $blue;

            .label-tag__text {
                color: $white;
            }
        }

        &__text {
            padding: 0;
            font-size: 1.2rem;
            transition: color 250ms ease-in-out;
        }
    }
}
