.wp-image-98648 {
    margin-left: 50px;
}

.input-checkbox {
    width: 30px;
}

#rememberme {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .wp-image-98648 {
        margin-left: 10px;
    }
    #rememberme {
        margin-left: 0;
    }
    #user-registration p label {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        display: inline-block;
    }
}


/* removed recaptcha 10.09.2021. */

.grecaptcha-badge {
    display: none;
}


/* increase submenu dropdown speed */

// @media only screen and (min-width: 1300px) {
//     #main-nav ul li:hover>ul {
//         transition: max-height 0.6s ease-out;
//         -webkit-transition: max-height 0.6s ease-out;
//         -moz-transition: max-height 0.6s ease-out;
//         -ms-transition: max-height 0.6s ease-out;
//         -o-transition: max-height 0.6s ease-out;
//     }
//     #main-nav ul li:hover>ul>li {
//         animation-delay: .15s;
//         animation-duration: .3s;
//     }
// }

/* Cookie */

.cc-window.cc-floating {
    padding: 9px;
    width: 200px;
    left: initial;
    bottom: 7px;
    right: 7px;
    box-shadow: 0px 0px 8px 2px rgba(97, 97, 97, .1);
    border-radius: 8px;
}

.cc-window .cc-link {
    color: rgb(45, 123, 168)!important;
    text-decoration: underline;
}

.cc-window .cc-btn {
    border-radius: 8px;
    font-weight: 400;
}

.cc-revoke,
.cc-window,
.cc-floating .cc-message {
    font-size: 14px;
    line-height: 20px;
}

@media only screen and (min-width: 768px) {
    .cc-window.cc-floating {
        padding: 25px;
        width: initial;
    }
    .cc-window .cc-btn {
        font-size: 16px;
    }
    .cc-revoke,
    .cc-window,
    .cc-floating .cc-message {
        font-size: 16px;
        line-height: 24px;
    }
}