/*----------  Old additional css ----------*/

.addPageDiv {
    padding: 10px 10px;
}

.addPageDiv h6 {
    padding: 15px 0;
    font-size: 20px;
    line-height: 23px;
    font-style: normal;
    font-weight: 700;
}

.addPageDiv select,
.addPageDiv input,
.addPageDiv input[type="text"],
.addPageDiv textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #EFF5FF;
    border: 0;
    border-radius: 4px;
    color: #427AA4;
    line-height: 1.25;
}

.addPageDiv input::placeholder,
.addPageDiv input::-moz-placeholder,
.addPageDiv input::-webkit-input-placeholder,
.addPageDiv select::placeholder,
.addPageDiv select::-moz-placeholder,
.addPageDiv select::-webkit-input-placeholder,
.addPageDiv textarea::placeholder,
.addPageDiv textarea::-moz-placeholder,
.addPageDiv textarea::-webkit-input-placeholder {
    color: #427AA4;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    opacity: 100%;
}

.addPageDiv input[type="submit"] {
    margin-top: 150px;
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #427AA4;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
    align-content: center;
    padding: 0;
}

.hr {
    margin-top: 100px;
}

.addPageDiv h7 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 23px;
    padding-top: 30px;
    margin-bottom: 40px;
    color: #828282;
}

#delete-select {
    margin-top: 40px;
    width: 350px;
}

#obrisi {
    background-color: #FF1A1A;
}


/* WORK IN PROGRESS */

.map__info {
    position: absolute;
    top: 0;
    left: -400px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #f7f7f7;
    z-index: 2;
}

@media only screen and (max-width: 900px) {
    .map__info {
        width: 60%;
    }
    .gradnja-logo {
        width: 100%;
        height: 100%;
    }
    .gradnja-logo-control {
        width: 20%;
    }
}

.map__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.map {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 600px;
    background: transparent;
    z-index: 1;
    overflow: hidden;
}

.map__info--project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map__info--project>img {
    width: 100%;
    height: 35%;
}

.project__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.back__button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.back__button:hover {
    color: #dfdfdf;
}

.direction__button {
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.direction__button:hover {
    color: #dfdfdf;
}

.project__name {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0 10px;
    background-color: #2D7BA8;
}

.project__name h2 {
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
}

.project__description {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    scrollbar-color: #2d7ba8 rgb(177, 177, 177);
    scrollbar-width: thin;
    overflow-x: hidden;
    padding: 5px;
}

.project__description--padding {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 50%;
}

.project__description p {
    margin: 0;
}

.project__info h2 {
    font-weight: 600;
    font-size: 20px;
    color: #f0f0f0;
}

.project__info h3 {
    text-align: left;
    font-size: 18px;
    padding-left: 18px;
    margin: 20px 0 30px 0;
}

.project__description p {
    text-align: left;
    padding-left: 5px;
}

.project__description::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: rgb(177, 177, 177);
}

.project__description::-webkit-scrollbar-thumb {
    background-color: #2d7ba8;
}

.project__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 15%;
    background-color: #2D7BA8;
    margin-top: 10px;
}

.project__links a {
    overflow-y: scroll;
    padding-left: 20px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
}

.project__links a:hover {
    text-decoration: underline;
    color: #2874a0;
}

.project__price {
    display: flex;
    height: 10%;
    width: 100%;
    color: #2b2b2b;
    padding-left: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.project__gallery {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-start;
}

.project__gallery img {
    width: 100%;
    height: 100%;
}

.map__search {
    position: absolute;
    top: 0;
    right: -400px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #f7f7f7;
    padding: 10px;
}

.search__contianer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.search__select {
    margin-top: 10px;
    width: 100%;
}

.search__select select {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #828282;
    border-radius: 4px;
}

#map-search-select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.search__select select option {
    color: #000;
    width: 20px;
}

.search__bar {
    /* margin-top: 30px; */
    width: 100%;
    /* padding: 0 20px;; */
}

.search__bar input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
}

.search__bar input[type="text"]::placeholder,
.search__bar input[type="text"]::-moz-placeholder,
.search__bar input[type="text"]::-webkit-input-placeholder {
    color: #8d8d8d;
}

.search__info {
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: 350px;
    margin-top: 70px;
    padding: 10px;
    background-color: #fbfbfb;
    scrollbar-color: #2d7ba8 rgb(177, 177, 177);
    scrollbar-width: thin;
    overflow-x: hidden;
}

.search__info h1 {
    font-size: 12px;
    line-height: 13px;
    font-weight: 700;
}

.search__info h1:hover {
    color: #2874a0;
}

.search__info p {
    margin-top: 6px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    /* identical to box height */
    /* Gray 3 */
    color: #828282;
}

.search__info::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: rgb(177, 177, 177);
}

.map__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search__info::-webkit-scrollbar-thumb {
    background-color: #2d7ba8;
}

@media only screen and (max-width: 1000px) {
    .map__search {
        width: 30%;
    }
    .search__info {
        margin-top: 10px;
        height: 350px;
    }
}

@media only screen and (max-width: 550px) {
    .map__search {
        width: 100%;
    }
    .search__info {
        margin-top: 20px;
    }
    #user-registration p input {
        width: 100%;
    }
}

#exit-panel {
    position: absolute;
    color: rgb(45, 123, 168);
    right: 2px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

#exit-panel2 {
    position: absolute;
    display: none;
    color: rgb(45, 123, 168);
    right: 2px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .map__info {
        width: 45%;
    }
    .project__info h2 {
        font-size: 14px;
    }
    .direction__button {
        font-size: 14px;
    }
    .back__button {
        font-size: 14px;
    }
    .project__info h3 {
        font-size: 12px;
        margin: 10px 0 5px 0;
    }
    .project__description p,
    .project__description strong {
        font-size: 10px;
        line-height: 12px;
    }
    .gradnja-logo {
        width: 100%;
        height: 100%;
    }
    .gradnja-logo-control {
        width: 20%;
    }
}

@media only screen and (max-width: 700px) {
    .map-iframe {
        height: 500px;
    }
    .map__info {
        width: 100%;
    }
    .project__name {
        height: 20%;
    }
    .project__info h2 {
        font-size: 18px;
        line-height: 22px;
    }
    .direction__button {
        font-size: 30px;
    }
    #exit-panel {
        font-size: 40px;
    }
    #exit-panel2 {
        display: block;
        font-size: 40px;
        margin: -5px;
    }
    .back__button {
        font-size: 30px;
    }
    .project__info h3 {
        font-size: 18px;
        margin: 10px 0 5px 0;
    }
    .project__description {
        max-height: 250px;
    }
    .project__description--padding {
        height: 70%;
    }
    .project__description p,
    .project__description strong {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 20px;
    }
    .project__links a {
        font-size: 10px;
        line-height: 8px;
    }
    .project__gallery {
        height: 40%;
    }
    .map__info {
        height: 100%;
    }
    .search__info h1 {
        font-size: 20px;
        line-height: 23px;
    }
    .search__info p {
        font-size: 17px;
    }
}

#lightbox-zgrada {
    width: 100%;
    height: 100%;
}

#project-details {
    white-space: pre-wrap;
}

#project-details a {
    color: #2D7BA8;
}

#project-details a:hover {
    color: #2d756d;
}

.container-gradiliste {
    display: flex;
    flex-direction: row;
}

.row-gradiliste {
    width: 350px;
    padding-right: 50px;
}

.header-gradiliste {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-left: 11px;
}

.report-h5 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    /* #282828 */
    color: #282828;
}

.report-button {
    width: 150px;
    height: 50px;
    margin: 10px 10px;
    /* Gradnja - plava */
    background: #427AA4;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    /* White */
    color: #FFFFFF;
}

.table-responsive {
    overflow-x: auto;
}

.new-th {
    width: 100px;
}


/* WORK IN PROGRESS ENDING */


/* LOGIN AND REGISTER PAGES */

.ur-frontend-form {
    border: 0;
}

#user-registration p label {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

#user-registration p input {
    background-color: #eff5ff;
    width: 350px;
    height: 50px;
    border-radius: 4px;
    border: 0;
}

#user-registration {
    width: 350px;
    border-radius: 5px;
    .user-registration-Input {
        width: 100%;
    }
    @media screen and (max-width: 550px) {
        margin-bottom: 0;
    }
    .user-registration-MyAccount-navigation {
        border-top-left-radius: 5px;
        overflow: hidden;
        border-top-right-radius: 5px;
        li::before {
            content: '';
        }
    }
}

#user-registration input[type='submit'] {
    float: left;
    width: 150px;
    height: 50px;
    background-color: #427aa4;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

#user-registration p input[name='rememberme'] {
    width: 25px;
    padding-left: 25px;
    margin-right: 0;
}

.user-registration-error {
    margin: 0px 0px 0px 20px;
}

.user-registration-form {
    display: flex;
    justify-content: center;
    &__label {
        display: flex;
        padding: 10px;
    }
}

.user-registration-page {
    .main-content--link {
        >.row {
            justify-content: center;
            gap: 1.5rem;
            @media screen and (max-width: 550px) {
                gap: 0;
            }
        }
    }
}

#rememberme {
    width: auto;
    margin-left: 10px;
}

.user-registration-form__label-for-checkbox span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* #282828 */
    color: #282828;
}

.image-button {
    margin-left: 100px;
    img {
        @media screen and (max-width: 550px) {
            width: 350px;
        }
    }
}

.ur-frontend-form .ur-form-row .ur-form-grid .hide_show_password .password-input-group .password_preview {
    color: #427aa4;
}

.ur-field-item label {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    /* #282828 */
    color: #282828;
}

.ur-field-item input {
    /* #EFF5FF */
    background: #eff5ff;
    border-radius: 4px;
    border: 0;
}

.ur-frontend-form .ur-button-container .ur-submit-button {
    margin: 0;
    width: 150px;
    height: 50px;
    background: #427aa4;
    border-radius: 4px;
    font-style: normal;
    text-decoration: none;
}

@media only screen and (max-width: 550px) {
    .search__bar {
        width: 80%;
    }
    #user-registration p input {
        width: 100%;
    }
    .image-button {
        display: flex;
        margin: 0;
    }
    .ur-frontend-form {
        padding: 0;
    }
    .container-gradiliste {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .row-gradiliste {
        padding: 0 20px;
    }
    .header-gradiliste {
        padding-left: 30px;
    }
    #employee_table table {
        margin-left: 10px;
        width: 1000px;
    }
}


/* ========= map ========== */

.page-template-map-template .project__gallery {
    height: 60%;
}

.page-template-map-template .project__gallery img {
    -o-object-fit: cover;
    object-fit: cover;
}