$main-font: 'Open Sans',
sans-serif;
$title-font: 'Montserrat',
sans-serif;
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    margin: .1rem 0;
    color: $dark;
}

h1,
h2 {
    @include fluid-type(font-size, 320px, 1200px, 24px, 36px);
    @include fluid-type(line-height, 320px, 1200px, 30px, 41px);
}

h3 {
    @include fluid-type(font-size, 320px, 1200px, 22px, 30px);
}

h4 {
    @include fluid-type(font-size, 320px, 1200px, 18px, 24px);
}

h5 {
    @include fluid-type(font-size, 320px, 1200px, 16px, 20px);
}

h6 {
    @include fluid-type(font-size, 320px, 1200px, 14px, 18px);
}

ul {
    margin: 1.5rem 0;
    padding-left: 20px;
}

ul li {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 7px;
    color: $main-font-color;
    font-family: $main-font;
    position: relative;
    list-style: none;
    &:before {
        content: "• ";
        position: absolute;
        left: -10px;
    }
}

ol {
    margin: 1.5rem 0;
    padding-left: 27px;
}

ol li {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #616161;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 8px;
}

a {
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    transition: all .3s;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: $main-font-color;
    font-family: $main-font;
}

span {
    font-size: 11px;
    line-height: 19px;
    color: $dark;
}

strong {
    font-weight: 700;
}

blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    p {
        font-family: $title-font;
        margin: 0;
        @include fluid-type(font-size, 320px, 768px, 24px, 30px);
        font-weight: 700;
        line-height: 120% !important;
        font-style: italic;
        text-align: center;
        border-width: 0px;
        z-index: 0;
        position: relative;
        color: #616161;
        margin: 0 0 20px;
        padding: 32px 10px;
    }
    &:before {
        font-family: 'themify', serif;
        content: "”";
        font-size: 340px;
        line-height: 235px;
        position: absolute;
        left: 50%;
        top: 2px;
        bottom: 0;
        color: #f4f4f4;
        z-index: 0;
        transform: translateX(-50%);
    }
}

@-moz-document url-prefix() {
    blockquote {
        &:before {
            line-height: 285px;
        }
    }
}

hr {
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

@media only screen and (min-width: 990px) {
    blockquote {
        p {
            padding: 40px 30px 30px 30px;
        }
        &:before {
            font-size: 460px;
            line-height: 323px;
        }
    }
    @-moz-document url-prefix() {
        blockquote {
            &:before {
                line-height: 393px;
            }
        }
    }
}