// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1360px

$tablet: 768px;
$laptop: 992px;
$desktop: 1360px;
$xdesktop: 1600px;

$main-font-color: #616161;
$orange: #d79c6a;
$dark: #2b2b2b;
$blue: #2d7ba8;
$light-grey: #f0f0f0;
$second-color: #505050;
$grey: #8d8d8d;
$white: #ffffff;

$background-color: #fdfdfd;