.select2-dropdown {
    border-color: #e3e3e3 !important;
}

.select2-search__field {
    height: 42px;
    font-size: 16px !important;
    color: $dark !important;
    padding: 5px 10px !important;
    letter-spacing: 0.015rem;
}

.select2-results__option {
    font-size: 16px !important;
    padding: 1rem !important;
    font-weight: 600 !important;
    color: $dark;
}

.page-izmeni-gradiliste,
.page-dodaj-gradiliste {
    .message {
        display: block;
        padding: 1rem;
        margin-top: 1rem;
        color: $white;
        font-weight: 600;
        background-color: rgba(255, 100, 50);
        border-radius: 5px;
    }

    .image-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 2rem;
        margin-top: 2rem;

        .image {
            position: relative;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .hidden {
        display: none;
    }

    .btns {
        display: flex;
        gap: 2rem;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }

    .select2-search__field {
        height: 100px !important;
    }

    .container {
        padding: 0 12px;
        margin-bottom: 15rem;

        &-gradiliste {
            column-gap: 3rem;
        }
    }

    .header-gradiliste {
        padding-left: 0;

        @media screen and (max-width: $tablet) {
            padding: 0;
            margin: 3rem 0;
            font-size: 3rem;
        }
    }

    .row-gradiliste {
        width: 100%;
        max-width: 450px;
        padding: 0;

        @media screen and (max-width: $tablet) {
            max-width: 100%;
        }
    }

    .select2 {
        $height: 50px;
        width: 100% !important;
        max-width: 450px;
        height: $height;

        @media screen and (max-width: $tablet) {
            max-width: 100%;
        }

        &-container {
            width: 100%;
        }

        &-selection {
            height: $height;

            &__arrow {
                height: 100%;
            }
        }

        .select2-container--default,
        .select2-selection--single,
        .select2-selection__rendered {
            height: 100%;
            line-height: 38px;
            font-size: 15px;
        }
    }

    .addPageDiv {
        margin: 2rem 0;

        .map-wrapper {
            position: relative;
            display: none;
            flex-direction: row;
            gap: 1rem;
            height: 500px;
        }

        .map {
            position: absolute;
            background-color: gray;
            transition: opacity 250ms ease;
            top: 40px !important;
            width: 400px;
            height: calc(100% - 26px) !important;
        }

        input,
        select {
            height: 50px;
        }

        textarea {
            height: 196px !important;
        }

        input,
        select,
        textarea {
            border-radius: 5px;
        }

        .btn {
            transition: background-color 250ms ease-in-out;
            padding: 0;

            &:hover {
                background-color: darken(#eff5ff, 5%);
            }

            &--danger {
                background-color: red;
                color: $white;

                &:hover {
                    background-color: darken(red, 5%);
                }
            }
        }

        .btn,
        input[type='submit'] {
            margin: 12px 0;
            width: 100%;
            cursor: pointer;

            @media screen and (min-width: $tablet) {
                width: 150px;
            }
        }

        .bar {
            position: absolute;
            top: unset !important;
            bottom: 24px !important;
            right: 12px !important;
            width: 200px;
            padding: 0 1rem;
            z-index: 1;
            background-color: $white;

            input[type='text'] {
                height: 35px;
            }

            .btn {
                height: 35px;
                width: 100%;
                font-size: 14px;

                &:hover {
                    background-color: $blue;
                }
            }
        }

        label {
            font-size: 20px;
            cursor: pointer;
        }

        input[type='checkbox'] {
            height: 2rem;
            width: 2rem;
            position: relative;
            border: 1px solid $blue;
            cursor: pointer;

            &:checked {
                $thickness: 3px;

                & ~ .map-wrapper {
                    display: block;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 1.3rem;
                    height: 0.75rem;
                    transform: rotate(-45deg);
                    bottom: 7px;
                    left: 3px;
                    border-left: $thickness solid $blue;
                    border-bottom: $thickness solid $blue;
                }
            }
        }
    }
}
