/*----------  Reset file  ----------*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: $main-font;
    background-color: #fff;
    font-size: 62.5%;
    font-size: 14px;
    color: $second-color;
    max-width: inherit !important;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.container:not(.promo-header) {
    padding-left: 16px;
    padding-right: 16px;
}

.scroll {
    position: fixed;
    z-index: 999;
    display: none;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    color: #cecece;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    svg {
        font-size: 25px;
        line-height: 46px;
        color: #505050;
    }
    &:hover {
        background-color: $orange;
        transition: all 0.5s;
        svg {
            color: #fff;
        }
    }
}

.grid-item,
.grid-gallery>p {
    float: left;
}

.grid-gallery {
    img {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    10% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

::selection {
    background: #2d7ba8;
    /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: #2d7ba8;
    /* Gecko Browsers */
    color: #fff;
}

iframe {
    width: 100%;
}

.site-content {
    padding-bottom: 2rem;
    min-height: calc(100vh - 240px);
}

// helper
.color-blue {
    color: $blue;
}

.title {
    @include fluid-type(font-size, 320px, 1200px, 18px, 24px);
}

.editor {
    a {
        color: $blue;
    }
}

.main-content--link a:not(.btn) {
    color: #2d7ba8;
}

.main-content--link a:hover {
    // text-decoration: underline!important;
}

.main-content {
    @include fluid-type(padding-bottom, 320px, 990px, 2rem, 6rem);
}

.emphasize svg {
    color: $blue;
}

.relative {
    position: relative;
}

.align-center {
    display: flex;
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

@mixin hover() {
    opacity: 0.8;
    transition: all 0.5s;
}

.color-white {
    color: #fff;
}

.radius {
    border-radius: 8px;
    overflow: hidden;
    img {
        border-radius: 8px;
    }
}

.left-border {
    border-left: 2px solid $blue;
    padding-left: 15px;
}

.relative {
    position: relative;
}

.remove {
    display: none;
}

.text-right {
    text-align: right;
}

.title-line {
    position: relative;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #f0f0f0;
        margin-left: 20px;
    }
}

.category-title {
    overflow: hidden;
    h1 {
        @include fluid-type(font-size, 320px, 1200px, 16px, 18px);
    }
}

.mt-8 {
    @include fluid-type(margin-top, 320px, 580px, 4rem, 8rem);
}

.search-field:focus {
    border-color: $blue;
    color: $dark;
}

.search-field {
    font-size: 12px;
    font-weight: 400;
}

.search-icon {
    cursor: pointer;
    svg {
        width: 25px;
        height: 25px;
    }
    .icon-close {
        display: none;
    }
}

.grey-background {
    background-color: $light-grey;
}

.circle-img {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.card-container,
.single {
    .devider {
        &:after {
            background-color: #d6d6d6;
        }
    }
}

.card-container {
    margin-bottom: 35px;
    padding-bottom: 22px;
    border-bottom: 1px solid $light-grey;
}

.card-image {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    img {
        border-radius: 8px;
        width: 100%;
        height: auto;
    }
    &:hover {
        .card-overlay {
            opacity: 1;
            span {
                animation: fadein 0.3s ease-in-out forwards;
                &:nth-child(1) {
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-delay: 0.1s;
                }
                &:nth-child(3) {
                    animation-delay: 0.2s;
                }
            }
        }
        .video-icon-wrap {
            z-index: 999;
            background-color: rgba(255, 255, 255, 0.7);
            .icon-title {
                height: 100%;
                width: 37px;
                height: 12px;
                height: auto;
                visibility: visible;
                line-height: 14px;
                transition: width 0.5s ease-in-out;
                display: flex;
                align-content: center;
                span {
                    opacity: 1;
                    transition: opacity 1s ease-in-out;
                }
            }
            .card-overlay {
                span {
                    display: none;
                }
            }
        }
    }
    .card-overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 0.5s opacity ease-in-out;
        border-radius: 8px;
        background-color: rgba(47, 47, 47, 0.3);
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #232323);
        background: -moz-linear-gradient(rgba(0, 0, 0, 0), #232323);
        background: -o-linear-gradient(rgba(0, 0, 0, 0), #232323);
        background: linear-gradient( rgba(47, 47, 47, 0.1), rgba(47, 47, 47, 0.3));
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background-color: #fff;
            margin: 0px;
            opacity: 0;
        }
    }
}

.card-title {
    @include fluid-type(font-size, 320px, 1450px, 23px, 26px);
    @include fluid-type(line-height, 320px, 1450px, 26px, 29px);
    font-weight: 700;
    color: $dark;
    margin: 6px 0 0 0;
    &:hover {
        @include hover();
    }
}

.card-content {
    padding-top: 24px;
    p {
        margin-top: 6px;
    }
}

.post-categories {
    font-size: 11px;
    text-transform: uppercase;
    color: $orange;
    line-height: 18px;
    display: inline-block;
    font-weight: 700;
    font-family: $title-font;
    letter-spacing: 2px;
    &:hover {
        opacity: 0.7;
        transition: all 0.5s;
    }
}

.video-icon {
    position: relative;
    .video-icon-wrap {
        position: absolute;
        display: block;
        height: 36px;
        top: 12px;
        right: 12px;
        border-radius: 50px;
        padding: 10px 11px;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 14px;
            border-radius: 0px;
            position: relative;
            left: 1px;
        }
        .icon-title {
            height: 0;
            width: 0;
            visibility: hidden;
            line-height: 14px;
            transition: width 0.5s ease-in-out;
            display: flex;
            align-content: center;
            span {
                font-size: 13px;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }
    .card-overlay-content {
        display: none;
    }
}

.post-author-img {
    width: 28px;
    height: 28px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    border-radius: 5px;
    img {
        filter: grayscale(100%);
        transition: 0.3s all ease-in-out;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
    }
}

.meta-data {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    a,
    span {
        font-weight: 400;
    }
}

.meta-data,
.meta-data span {
    font-size: 11px;
    color: $grey;
    line-height: 19px;
    font-family: $title-font;
    svg {
        margin-right: 6px;
        width: 15px;
        height: 15px;
        opacity: 0.7;
    }
    a {
        &:hover {
            @include hover();
        }
    }
}

.devider {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.14);
        width: 1px;
        height: 8px;
        bottom: 5px;
        right: -1px;
    }
}

.sidebar {
    margin-top: 40px;
    .advertising-top {
        display: none;
    }
}

.sidebar-block {
    @include fluid-type(margin-bottom, 320px, 990px, 40px, 60px);
}

.sidebar-block.advertising {
    text-align: center;
}

.title-sidebar {
    font-size: 18px;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    color: $second-color;
}

// .site-header.fixed-header {
//   position: fixed;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 100%;
//   background-color: #fff;
//   z-index: 999;
//   padding-top: 0;
//   padding-bottom: 0;
//   transition: padding .5s linear, fixed .5s linear;
//   box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 25px;
// }
#main-nav {
    display: none;
    a {
        font-weight: 700;
        font-size: 12px;
        color: rgba(61, 61, 61, 0.69);
        &:hover {
            color: #616161;
        }
    }
}

.navigation {
    position: absolute;
    right: 11px;
    top: -2px;
    display: flex;
    font-size: 18px;
    display: flex;
    >a {
        margin: 0 2px;
        color: $second-color !important;
    }
}

.search-top {
    display: none;
}

.search-toggle {
    font-size: 30px;
    margin-left: auto;
}

.latest-post {
    position: relative;
    .meta-data {
        opacity: 0.7;
    }
    .title-sidebar {
        margin-right: 70px;
    }
    .icon-arrow-left,
    .icon-arrow-right {
        svg {
            width: 22px;
            height: 22px;
        }
    }
}

.widget_recent_comments {
    .widget-title {
        font-size: 18px;
        position: relative;
        overflow: hidden;
        margin-right: 70px;
        margin-bottom: 24px;
        color: #505050;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            background-color: #f0f0f0;
            margin-left: 20px;
        }
    }
}

#recentcomments {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        line-height: 17px;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 16px;
        padding-bottom: 16px;
        font-family: $title-font;
        &:last-child {
            border: none;
        }
    }
    a {
        font-weight: 600;
        font-size: 13px;
        color: #2b2b2b;
    }
    .comment-author-link,
    .comment-author-link .url {
        display: block;
        color: #8d8d8d;
        font-weight: 400;
        font-size: 11px;
        display: flex;
        align-items: center;
    }
    .comment-author-link {
        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 15px;
            margin-right: 3px;
            background: url('https://api.iconify.design/vaadin-comment-o.svg') no-repeat center center / contain;
            vertical-align: -0.125em;
            opacity: 0.3;
        }
    }
    .widget-post-title {
        margin-bottom: 0;
    }
}

.widget-posts {
    .widget-post {
        display: flex;
        flex-direction: row;
        &:not(:last-child) {
            border-bottom: 1px solid #f0f0f0;
            margin-bottom: 12px;
            padding-bottom: 12px;
        }
    }
    .img-wrap {
        position: relative;
        overflow: hidden;
        width: 70px;
        height: 70px;
        border-radius: 8px;
        top: 3px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: initial;
            width: 100%;
            height: auto;
        }
    }
    svg {
        width: 19px;
        height: 19px;
        position: relative;
        bottom: 1px;
    }
}

.widget-post-title {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
}

.widget-post-content {
    width: 67%;
    margin-left: 15px;
}

.highlighted-post {
    max-width: 300px;
    a,
    h5 span {
        color: #fff;
    }
    .img-wrap-1-1 {
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            top: 15%;
            background: linear-gradient( to bottom, rgba(50, 50, 50, 0) 0%, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%);
            transition: 0.2s all ease-in-out;
            opacity: 0.93;
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            left: 0;
        }
    }
    .widget-content {
        position: absolute;
        z-index: 1;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
    .meta-data {
        span,
        svg {
            color: #fff;
        }
    }
}

.img-wrap-1-1 {
    @include aspect-ratio(95%);
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.site-footer {
    background-color: #1e1e1e;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    margin-bottom: -1px;
    ul {
        text-align: center;
    }
    li {
        color: #fff;
    }
    li {
        padding: 7.5px 25px 7.5px 0;
        &:last-child {
            border: none;
        }
    }
    a:hover {
        color: $orange;
        transition: all 0.5s;
    }
    .copyright {
        padding-top: 2rem;
        span {
            color: #b4b4b4;
            text-align: center;
            display: block;
            font-size: 12px;
            opacity: 0.8;
        }
    }
}

// breadcrumb
.breadcrumb-titlebar {
    margin-bottom: 3rem;
    @include fluid-type(margin-bottom,
    320px,
    990px,
    0.5rem,
    2rem);
    text-align: center;
    h1 {
        font-size: 18px;
        line-height: 25px;
    }
    background-color: #fbfbfb;
    .row>div {
        min-height: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bradcrumb {
        font-weight: 400;
        color: #8d8d8d;
    }
    .breadcrumb a {
        font-weight: 700;
        color: #616161;
    }
    .breadcrumb,
    .breadcrumb a {
        font-size: 11px;
        line-height: 19px;
        font-family: $main-font;
    }
    .breadcrumb-title {
        max-width: 800px;
        padding-right: 30px;
    }
}

.cta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    p {
        margin-top: 0;
        line-height: 21px;
        text-align: center;
    }
    strong {
        color: $dark;
    }
    .btn {
        width: initial;
        display: inline-block;
        margin: 0 auto;
    }
    img {
        width: 70px;
        margin: 0 auto;
        display: block;
    }
}

.number-box {
    display: flex;
    flex-wrap: wrap;
    >div {
        border: 2px solid #f1f1f1;
        border-radius: 8px;
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        min-height: 130px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        &:nth-of-type(3),
        &:nth-of-type(5) {
            margin-right: 0;
        }
    }
    h3 {
        color: $blue;
        @include fluid-type(font-size,
        320px,
        768px,
        20px,
        35px);
    }
    p {
        margin: 0;
        color: $dark;
        line-height: 18px;
        line-height: 18px;
    }
    .highlighted {
        width: 100%;
        background-color: $blue;
        border-color: $blue;
        flex-direction: row;
        img {
            display: block;
            width: auto;
            height: 100%;
            max-width: 70px;
            margin-left: 62px;
            @include fluid-type(margin-left,
            320px,
            768px,
            10px,
            62px);
        }
        >div {
            text-align: center;
        }
        h3,
        p {
            color: #fff;
        }
    }
}

.demographic-box {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 5px 25px;
    margin-top: 7px;
    >div:nth-of-type(1) {
        text-align: center;
    }
    h6 {
        margin-bottom: 15px;
    }
    ul {
        padding: 0 16px;
        margin: 0;
    }
    li {
        color: $dark;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    p {
        font-weight: 700;
        color: $dark;
    }
    .wp-block-column:nth-of-type(1) {
        display: flex;
        align-items: center;
        margin: 0;
        .wp-block-image {
            margin: 0;
        }
    }
}

.blocks-gallery-item {
    &:before {
        display: none;
    }
}

.small-blockquote {
    quotes: '\201C''\201D''\2018''\2019';
    p {
        font-size: 20px !important;
        color: $dark;
        font-style: normal;
        line-height: 70px;
        max-width: 450px;
        margin: 0 auto;
        font-weight: 400;
        padding-bottom: 15px;
        line-height: 70px;
    }
    &:before {
        content: open-quote;
        height: 50px;
        font-size: 80px;
        color: #d4d1d1;
        font-weight: 400;
        top: -17px;
        line-height: 100px;
    }
}

.clients-logo.wp-block-gallery .blocks-gallery-image,
.clients-logo.wp-block-gallery .blocks-gallery-item {
    margin: 0;
}

.clients-logo {
    justify-content: center;
    &.wp-block-gallery .blocks-gallery-item figure {
        align-items: center;
    }
    &.wp-block-gallery .blocks-gallery-item figcaption {
        background: transparent;
        overflow: hidden;
        cursor: pointer;
    }
    &.wp-block-gallery.is-cropped .blocks-gallery-item img {
        object-fit: contain;
    }
    li {
        height: 70px;
        max-width: 128px;
        padding-bottom: 15px;
        img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto !important;
            filter: grayscale(100%);
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

#map {
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.map-iframe {
    margin-bottom: 3rem;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
}

.map-legend {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h3 {
        font-size: 16px;
        margin: 0 1rem 1.5rem;
    }
    p {
        font-size: 12px;
        display: inline-block;
        font-weight: 700;
        margin: 0 5px;
    }
    .circle {
        margin-right: 6px;
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 100%;
    }
    .blue {
        color: #5472d2;
    }
    .blue .circle {
        background-color: #5472d2;
    }
    .yellow {
        color: #f7be68;
    }
    .yellow .circle {
        background-color: #f7be68;
    }
    .green {
        color: #7eb439;
    }
    .green .circle {
        background-color: #7eb439;
    }
    .red {
        color: #fe6c61;
    }
    .red .circle {
        background-color: #fe6c61;
    }
    .black {
        color: #000000;
        .circle {
            background-color: #000000;
        }
    }
}

.filter-link {
    margin-left: 10px;
    &:hover {
        text-decoration: underline;
    }
}

.js-custom-sleeve-option {
    width: auto;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    position: absolute;
    left: 15px;
}

.js-arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #9b9b9b;
    position: relative;
    bottom: 2px;
}

.js-arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #9b9b9b;
    position: relative;
    bottom: 2px;
}

.map-list {
    ol {
        list-style: none;
        border: 1px solid #d6d6d6;
        padding: 0;
        >li {
            padding: 10px 10px;
            border-bottom: 1px solid #d6d6d6;
            padding-left: 30px;
            line-height: 20px;
            margin: 5px 0;
            &:last-child {
                border: none;
            }
        }
        &:before {
            content: '';
            background: url('https://api.iconify.design/ic:sharp-arrow-drop-down.svg') no-repeat center center / contain;
        }
        ul {
            padding-top: 12px;
            padding-bottom: 12px;
            margin: 0;
        }
        strong {
            cursor: pointer;
            font-weight: 400;
        }
    }
}


/* ======= HOME PAGE ======= */

.inline-baner,
.home-card.inline-baner,
.post-inner-content div[id|='div-gpt-ad'] {
    text-align: center;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    padding: 20px 0;
    margin: 20px 0;
}

.home-card.inline-baner img,
.inline-baner img,
.post-inner-content div[id|='div-gpt-ad'] img {
    width: auto;
}

.home-card.inline-baner img,
.post-inner-content div[id|='div-gpt-ad'] img {
    margin: 0 auto;
    display: block;
}

.hamburger {
    display: block;
    &-box {
        cursor: pointer;
    }
}

.header-wrap {
    width: 100%;
    height: auto;
    z-index: 900;
    position: relative;
    .search-wrap {
        max-width: 300px;
    }
    .site-header .container {
        display: block;
        max-width: 330px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .logo {
        display: block;
        width: 120px;
    }
    .hamburger {
        display: block;
        margin-top: 16px;
        width: 20%;
    }
    .search-top {
        display: block;
        margin-top: 7px;
        width: 20%;
    }
    .search-wrap .search-button {
        padding: 20px 29px;
        font-size: 14px;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        background: transparent;
        outline: none;
        border: none;
    }
    .search-top {
        display: block;
    }
    .search-wrap input.search-field {
        float: right;
        width: 100%;
        top: 6px;
        border-color: #fff;
        padding-left: 21px;
        transition: 0.4s;
    }
    .search-wrap.open input.search-field {
        border-color: #e3e3e3;
        padding-left: 45px;
    }
    #mc_embed_signup_scroll {
        position: relative;
    }
    .search-icon {
        position: absolute;
        top: initial;
        transform: translateY(0);
        left: 0;
        right: auto;
    }
    .search-icon svg {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(360deg) !important;
        left: 50%;
        z-index: -1;
    }
    .search-wrap {
        position: relative;
        max-width: initial;
    }
    #searchform {
        position: absolute;
        right: 0px;
        height: 42px;
        float: right;
        width: 42px;
        transition: 0.4s;
    }
    .search-wrap.open #searchform {
        width: 250px;
    }
    .search-wrap .search-button {
        padding: 21px;
        font-size: 14px;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        background: transparent;
        outline: none;
        border: none;
    }
}

html.mm-wrapper_opening div[id^='httpool'] {
    transform: translate(550px, 0);
    transition: transform 0.3s linear 0.1s;
    z-index: 1 !important;
}

html div[id^='httpool'] {
    transform: translate(0px, 0);
}

.site-header {
    position: relative;
    // background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .container {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // position: relative;
    }
}

.site-header .container.padding-top {
    padding-top: 40px;
}

.mm-panels {
    li {
        &:before {
            display: none;
        }
    }
}

#primary-menu>li {
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    color: rgba(61, 61, 61, 0.69);
    font-family: $title-font;
}

.mm-navbar {
    border-bottom: 2px solid #f0f0f0;
}

.mm-listview {
    padding-left: 20px;
    padding-right: 20px;
}

.mm-listitem {
    >a {
        padding-left: 3px;
    }
}

.mm-listitem .mm-btn_next:before {
    display: none;
}

.mm-listitem .mm-btn_next {
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-inner {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #b5b5b5;
    position: relative;
    &:before,
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #b5b5b5;
        transition: all 0.3s;
    }
    &:before {
        top: -6px;
        right: 0;
    }
    &:after {
        bottom: -6px;
        right: 0;
    }
}

.logo {
    width: 120px;
    display: flex;
    align-items: center;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.slides {
    padding: 0;
    margin: 0;
    li:before {
        display: none;
    }
}

.flex-disabled {
    svg {
        opacity: 0.4;
    }
}

.gradient {
    position: relative;
    &:after {
        content: '';
        background: linear-gradient( to bottom, rgba(50, 50, 50, 0) 0%, rgba(16, 15, 15, 0.91) 100%, rgba(16, 15, 15, 0.63) 93%);
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.blog-slider.hero-video .blog-slider-item {
    padding: 0;
}

.iframe-wrap {
    position: relative;
    height: 0;
    padding-bottom: 56.5%;
    overflow: hidden;
    margin-bottom: 2.5rem;
    iframe,
    embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        border-radius: 8px;
    }
}

.meta-comment {
    display: none;
}

.blog-slider {
    @include fluid-type(margin-bottom,
    320px,
    768px,
    2rem,
    4rem);
    position: relative;
    .slides {
        background-color: $dark;
        max-height: 400px;
        overflow: hidden;
        border-radius: 8px;
    }
    .meta-data {
        span,
        a,
        svg {
            color: rgb(255, 255, 255);
            font-weight: 400;
        }
    }
    .widget-posts .img-wrap {
        top: 0;
    }
}

.blog-slider-mini-list {
    display: none;
}

.blog-slider-content {
    h1 {
        margin-bottom: 1.5rem;
        color: #fff;
        &:hover {
            opacity: 0.8;
            transition: all 0.5s;
        }
    }
    .post-categories {
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
        color: #d79c6a;
        font-size: 12px;
    }
}

.custom-navigation-blog {
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    svg {
        color: #fff;
        font-size: 30px;
    }
}

.blog-slider-item {
    padding: 3rem 2rem 5rem;
    height: 400px;
    background-size: cover !important;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    background-position: center;
}

.hero-image {
    height: 40vh;
    min-height: 500px;
    @include fluid-type(padding,
    320px,
    990px,
    2rem,
    3rem);
    .blog-slider-content {
        position: relative;
        z-index: 1;
    }
    p {
        color: #fff;
        opacity: 0.8;
        margin-top: 0;
    }
}

.home-card {
    border: none;
    padding-bottom: 0;
    .devider {
        &:after {
            background-color: #d6d6d6;
        }
    }
    h2 {
        @include fluid-type(line-height,
        320px,
        1450px,
        26px,
        31px);
        @include fluid-type(font-size,
        320px,
        1450px,
        24px,
        30px);
        color: $dark;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .card-image {
        margin-top: 24px;
        margin-bottom: 4px;
    }
    .title-line {
        padding: 30px 0;
        @include fluid-type(padding-top,
        320px,
        990px,
        10px,
        30px);
        @include fluid-type(padding-bottom,
        320px,
        990px,
        10px,
        30px);
        a {
            text-transform: uppercase;
            font-size: 12px;
            color: $dark;
        }
    }
    .social-icon-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            width: 100%;
            margin-right: 20px;
            margin-bottom: 0;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.8;
            }
        }
        .social-icon {
            width: 55%;
        }
    }
}

.social-icon-line.full {
    .social-icon svg {
        font-size: 20px;
    }
    a {
        background-color: $blue;
        color: #fff;
        border-radius: 12px;
        border: none;
        &:hover {
            color: #fff;
            opacity: 0.8;
        }
    }
}

.social-icon {
    display: flex;
    >a {
        width: 45px;
        height: 45px;
        border: 1px solid #f0f0f0;
        display: inline-block;
        transition: 0.3s all ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px;
        border-radius: 8px;
        &:hover {
            box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.07);
            color: inherit;
        }
    }
    svg {
        font-size: 18px;
    }
}

.two-columns {
    img {
        margin-bottom: 20px;
    }
}

.grid-uradi-sam .grid-item {
    .card-container {
        border: none;
    }
    .card-content {
        padding: 2.5rem 2rem 2rem;
        border: 2px solid #f1f1f1;
        border-top: none;
        position: relative;
        a {
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .card-image {
        position: relative;
        height: 0;
        padding-bottom: 56.5%;
        overflow: hidden;
        img {
            border-radius: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    li {
        color: $blue;
        &:before {
            color: $blue;
            padding: 2px 0;
        }
        &:nth-child(n+5) {
            display: none;
        }
    }
    .btn-expand {
        color: #fec368;
        font-weight: 700;
        font-size: 12px;
        text-align: right;
        display: inline-block;
        padding-left: 10px;
        cursor: pointer;
        transition: 0.3s ease;
        svg {
            position: relative;
            bottom: -2px;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.contact-header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    >div {
        &:nth-of-type(1) {
            width: 40%;
            padding-right: 15px;
            max-width: 200px;
        }
        &:nth-of-type(2) {
            width: 60%;
            @include fluid-type(padding-left,
            320px,
            500px,
            15px,
            40px);
        }
    }
}

#wpadminbar {
    position: fixed;
}

.wrap {
    position: relative;
}

#backgroundLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    display: none;
}

.site-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    // background-color: #fff;
    position: relative;
}


/* ====== SINGLE POST ======= */

.single {
    .progress-container {
        width: 100%;
        position: absolute;
        bottom: 0;
        &.fixed-progress {
            position: fixed;
            top: 0;
            height: 4px;
            background: #ccc;
            .progress-bar {
                height: 4px;
                background: $blue;
                width: 0%;
            }
        }
    }
}

.wrapper {
    overflow: hidden;
}

.header-post-image {
    margin-bottom: 37px;
    @include fluid-type(margin-bottom,
    320px,
    768px,
    2rem,
    4rem);
}

.header-post-video {
    height: 0;
    padding-bottom: 56.5%;
    overflow: hidden;
    position: relative;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.fb-post {
    margin: 1.5rem 0 2rem 0;
    width: 100%;
}

.fb-post>span {
    width: 100% !important;
}

.fb-post iframe {
    width: 100% !important;
}

.post-inner-content .post-content-gallery-item:hover>a {
    text-decoration: none;
}

.post-inner-content a .post-content-gallery-item-caption {
    opacity: 1;
    font-size: 12px;
    font-weight: 400;
    color: #555d66;
    padding: 5px 3px 0 3px;
}

.post-inner-content {
    p:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    img {
        border-radius: 8px;
        margin: 10px 0;
    }
    figure {
        margin: 1.5rem 0;
        max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        margin: 0 0 20px 0;
    }
    h1 {
        @include fluid-type(font-size,
        320px,
        1200px,
        26px,
        30px);
    }
    h2 {
        @include fluid-type(line-height,
        320px,
        1200px,
        22px,
        37px);
        padding-top: 15px;
    }
    h3 {
        @include fluid-type(font-size,
        320px,
        1200px,
        18px,
        21px);
    }
    h4 {
        @include fluid-type(font-size,
        320px,
        1200px,
        16px,
        18px);
    }
    h5 {
        @include fluid-type(font-size,
        320px,
        1200px,
        16px,
        16px);
    }
    h6 {
        @include fluid-type(font-size,
        320px,
        1200px,
        14px,
        14px);
    }
    a {
        color: $blue;
        &:hover {
            color: rgba(45, 123, 168, 0.7);
        }
    }
    .alignright {
        float: right;
    }
    p>span {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .has-medium-font-size,
    .has-large-font-size,
    .has-huge-font-size {
        font-family: $title-font;
        color: #2b2b2b;
        font-weight: 700;
    }
    .has-medium-font-size {
        font-size: 21px;
    }
    .has-large-font-size {
        font-size: 24px;
    }
    .has-huge-font-size {
        font-size: 30px;
    }
    figcaption {
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        font-family: $main-font;
        margin-bottom: 30px;
    }
}

.widget-title {
    color: #fff;
    @include fluid-type(font-size,
    320px,
    768px,
    12px,
    14px);
    line-height: 18px;
}

.post-switch {
    .row>div {
        margin-bottom: 20px;
        padding: 0;
    }
    .post-switch-item {
        position: relative;
        padding: 17px 25px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: center;
        .widget-title {
            font-weight: 400;
            margin-top: 4px;
        }
        .post-categories {
            margin: 0;
        }
        .text-right,
        .text-left {
            width: 75%;
            z-index: 1;
        }
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(36, 36, 36, 0.65);
        }
    }
    .arrow {
        width: 13%;
        svg {
            width: 37px;
            height: 37px;
            color: rgba(255, 255, 255, 0.5);
            z-index: 1;
            position: relative;
            transition: 0.3s ease;
        }
        &:hover svg {
            color: rgba(255, 255, 255, 1);
        }
    }
    .widget-title {
        transition: 0.3s ease;
        &:hover {
            opacity: 0.75;
        }
    }
}

.post-image-caption {
    color: #8d8d8d;
    font-size: 11px;
    margin-top: 15px;
    @include fluid-type(margin-top,
    320px,
    990px,
    7px,
    15px);
}

.post-author {
    @include fluid-type(padding,
    320px,
    768px,
    2rem,
    4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    >div {
        padding: 0 20px;
    }
    .content {
        @include fluid-type(width,
        320px,
        580px,
        100%,
        80%);
        padding-top: 20px;
        @include fluid-type(text-align,
        320px,
        1078px,
        center,
        left);
    }
    i {
        font-size: 16px;
    }
    .author__name {
        h6 {
            transition: 0.3s ease;
        }
        &:hover {
            h6 {
                color: $blue;
            }
        }
    }
    .author__desc {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .author__link {
        color: $blue;
        &:hover {
            opacity: 0.8;
        }
        small {
            position: relative;
            top: -1px;
        }
    }
}

.similar-post {
    .flexslider-carousel {
        max-height: 400px;
        overflow: hidden;
    }
    .card-image {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-bottom: 56.25%;
        border-radius: 8px;
        >img {
            height: auto;
            width: 100%;
            max-width: initial;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .card-title {
        font-size: 18px;
        @include fluid-type(font-size,
        320px,
        990px,
        16px,
        18px);
        line-height: 22px;
        margin-bottom: 15px;
    }
    .card-content {
        padding-top: 0;
    }
    .custom-navigation {
        padding-left: 20px;
        background: white;
    }
    .card-container {
        border: none;
        margin-bottom: 10px;
    }
    .navigation {
        svg {
            width: 28px;
            height: 28px;
        }
    }
    .title-line {
        margin-right: 80px;
    }
    .video-icon .video-icon-wrap {
        height: 32px;
        img {
            width: 10px;
        }
    }
}

.cta-newsletter {
    background-color: $blue;
    border-radius: 8px;
    padding: 20px 25px;
    margin: 30px 0;
    h6,
    p {
        color: #fff;
    }
    p {
        margin-top: 3px;
        margin-bottom: 15px;
        line-height: 18px;
        font-weight: 300;
    }
    #mc_embed_signup.search-wrap.newsletter .search-field {
        padding: 13px;
        height: 44px;
    }
    #mc_embed_signup.search-wrap.newsletter .button {
        height: 35px;
        &:hover {
            opacity: 0.85;
        }
    }
}

.post-tags-item {
    display: inline-block;
    position: relative;
    padding: 0 15px;
    line-height: 18px;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    color: #8d8d8d;
    &:hover {
        color: #616161;
        border: 1px solid #616161;
    }
}

.post-tags,
#adsense {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

#adsense {
    h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.page-template-about main {
    img {
        border-radius: 8px;
    }
    .title-line {
        margin-bottom: 2rem;
    }
    a {
        color: $blue;
    }
    .wp-block-media-text {
        margin-bottom: 20px;
        p {
            margin: 3px 0;
        }
    }
    .align-left {
        .wp-block-image .aligncenter {
            margin-left: initial;
            margin-right: auto;
        }
    }
}

.social-icon {
    display: flex;
    >a {
        width: 45px;
        height: 45px;
        border: 1px solid #f0f0f0;
    }
}

.page-template-contact {
    form {
        max-width: 600px;
        margin: 0 auto;
    }
}

.promo-header {
    padding: 20px 16px;
}

.top-promo-header {
    // width: 320px;
    @include push--auto;
    max-width: 320px;
    min-height: 120px;
}

#div-gpt-ad-1556107878188-0>div,
#div-gpt-ad-1560269280279-0>div {
    height: auto !important;
}

#div-gpt-ad-1556107878188-0>div iframe,
#div-gpt-ad-1560269280279-0>div iframe {
    margin-bottom: 10px;
    margin-top: 10px;
}

.top-header {
    background-color: #313131;
    display: none;
    .contianer {
        max-width: 1220px;
    }
    ul {
        display: flex;
        a {
            color: #fff;
            font-family: $title-font;
            font-size: 12px;
            font-weight: 700;
            line-height: 40px;
            padding-right: 18px;
            &:hover {
                opacity: 0.84;
            }
        }
    }
}

.header-social-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
        color: #fff;
        font-size: 18px;
        line-height: 15px;
        padding-left: 15px;
        &:hover {
            color: $blue;
        }
    }
    .instagram {
        color: $blue;
    }
}

.gallery-columns-4,
.gallery-columns-3,
.gallery-columns-2,
.gallery-columns-1 {
    margin-bottom: 18px;
    figure {
        text-align: center;
        margin: 6px 0;
    }
    img {
        margin: 0;
        border-radius: 0;
    }
}

.small-line {
    width: 50px;
    margin: 0 auto;
    border-top: 2px solid $blue;
}

// Comments
.sh-comments .sh-comment-form {
    @include fluid-type(padding,
    320px,
    990px,
    20px,
    40px);
    margin-top: 40px;
}

.comment-form-cookies-consent {
    display: none;
}

.comment-body .reply {
    span {
        display: flex;
        align-items: center;
        margin-right: 15px;
        color: #8d8d8d;
    }
    svg {
        font-size: 14px;
        opacity: 0.4;
        margin: 0 4px !important;
    }
}

.comment-body .reply .sh-reply-link-button {
    margin: 0;
    svg {
        font-size: 16px;
    }
}

.sh-accent-color,
.comment-respond #cancel-comment-reply-link,
.post-sticky {
    color: #d79c74;
    font-weight: 400;
    font-size: 14px;
}

ul.page-numbers a:hover,
.sh-comment-date a:hover {
    color: #d79c74;
}

.sh-comments .comment-body .reply .sh-comment-date {
    display: none;
}

.sh-comments h3.sh-comments-title,
.sh-comments h3.comment-reply-title {
    @include fluid-type(font-size,
    320px,
    990px,
    18px,
    24px);
    margin-bottom: 0;
}

.sh-comments-required-notice {
    margin-bottom: 10px;
    margin-left: 15px;
}

.sh-comments .submit {
    border-radius: 100px;
    display: block;
    width: 200px;
    transition: all 0.3s ease;
}

.sh-comments-position {
    position: relative;
    top: -130px;
}

.sh-comment-position {
    position: relative;
    top: -130px;
    height: 0;
    margin: 0;
    line-height: 0 !important;
}

.page-content .sh-comments {
    margin-top: 45px;
}

.sh-comment-list {
    padding: 0;
}

.sh-comment-list li {
    list-style: none;
}

.sh-comment-list>li.comment:last-child {
    padding-bottom: 0px;
}

.sh-comment-list ol,
.sh-comment-list ol ol {
    padding-left: 90px;
}

.address-price {
    h1 {
        margin-bottom: 3rem;
        @include fluid-type(font-size,
        320px,
        1200px,
        16px,
        20px);
    }
    .count-number {
        font-size: 4rem;
        color: #e8e8e8;
        font-weight: 700;
        position: absolute;
        top: 12px;
        left: -26px;
        background: #fff;
        padding: 20px 12px;
    }
    .address-benefit {
        padding: 0;
        margin: 0;
        li {
            padding: 2rem 0;
            margin-bottom: 20px;
            background-color: #fff;
            border: 2px solid #e8e8e8;
            border-radius: 8px;
            position: relative;
            line-height: 22px;
            text-align: center;
            &::before {
                counter-increment: section;
                content: counter(section);
            }
        }
    }
    .info {
        text-align: right;
        font-size: 12px;
        width: 98%;
    }
}

.form,
.application_forms {
    max-width: 560px;
    input[type='submit'] {
        width: 150px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.card-price-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.premium.card-price {
    .card-header {
        background-color: #ffbb3e;
        border: 2px solid #ffbb3e;
        overflow: hidden;
        *,
        span {
            color: #fff;
        }
    }
}

.card-price {
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding-bottom: 70px;
    &:hover {
        border-color: #ffbb3e;
        transition: all 0.5s;
    }
    .btn {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        border-color: transparent;
    }
    .btn-border {
        border-color: $blue;
    }
    .card-body {
        padding: 2rem 2rem;
        position: relative;
    }
    .card-header {
        padding: 2rem 2rem;
        min-height: 100px;
        background-color: rgba(215, 156, 106, 0.08);
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
            color: $blue;
        }
    }
    h3 {
        margin-bottom: 1rem;
        text-align: center;
    }
    h6 {
        color: $blue;
        text-align: center;
    }
    p {
        font-weight: 700;
        color: $dark;
        line-height: 18px;
    }
    ul {
        padding-left: 10px;
    }
    li {
        color: $second-color;
        padding-left: 5px;
        &:before {
            content: '';
            display: inline-block;
            background: url('https://api.iconify.design/ant-design:check-outline.svg') no-repeat center center / contain;
            width: 10px;
            height: 10px;
            margin-right: 8px;
            top: 10px;
        }
    }
}

.page .main-content .card-price h6 {
    margin-top: 0;
}

.btn {
    text-transform: uppercase;
    @include fluid-type(font-size,
    320px,
    990px,
    12px,
    14px);
    padding: 15px 10px;
    @include fluid-type(padding-top padding-bottom,
    320px,
    1200px,
    10px,
    12px);
    @include fluid-type(padding-left padding-right,
    320px,
    1200px,
    5px,
    15px);
    font-weight: 700;
    border: 2px solid $blue;
    border-radius: 8px;
    margin: 25px auto 0 auto;
    display: block;
    @include fluid-type(width,
    320px,
    990px,
    150px,
    200px);
    text-align: center;
    background-color: $blue;
    color: #fff;
}

.btn-border {
    border: 2px solid $blue;
    background-color: #fff;
    color: $blue;
}


/* ==== SABAI PLUGIN ======= */

.sabai-directory-addlisting {
    .sabai-form-field {
        max-width: 600px;
    }
}

span.sabai-form-field-error,
span.sabai-form-field-required {
    font-size: 14px;
}

.sabai-directory-category a {
    font-size: 14px;
    i {
        display: none;
    }
}

.sabai-directory-category {
    a:not(:last-child) {
        &:after {
            content: ',';
            display: inline;
        }
    }
}

.sabai-directory-info {
    span {
        font-size: 14px;
        line-height: 24px;
        color: #616161;
    }
    a {
        line-height: 24px;
    }
}

.sabai-entity-icon-directory-claimed,
.sabai-entity-icon-directory-official {
    display: none;
}

.sabai-googlemaps-infobox>img {
    display: none;
}

.sabai {
    h2 {
        @include fluid-type(font-size,
        320px,
        1200px,
        18px,
        24px);
    }
    a {
        color: $blue;
        &:hover {
            opacity: 0.8;
        }
    }
    .sabai-googlemaps-map .sabai-directory-photos img {
        width: auto !important;
        max-width: 200px !important;
    }
    select {
        background-color: #fff;
    }
}

.sabai#sabai-embed-wordpress-shortcode-1 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    .sabai-row {
        padding: 20px;
    }
    .bx-viewport {
        box-shadow: none !important;
        border: 1px solid $light-grey;
        min-height: 300px !important;
        border-radius: 8px;
    }
    .sabai-directory-title {
        font-size: 18px;
    }
    .bx-wrapper {
        .bx-pager {
            margin-top: 6px;
        }
        .bx-prev,
        .bx-next {
            display: block;
        }
        .bx-next {
            background: url('https://api.iconify.design/mdi-light:arrow-right-circle.svg') no-repeat center center / contain;
        }
        .bx-prev {
            background: url('https://api.iconify.design/mdi-light:arrow-left-circle.svg') no-repeat center center / contain;
        }
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        padding: 10px;
        background-color: transparent;
        position: relative;
        display: none;
        &:before {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            background-color: $grey;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.active {
            &:before {
                background-color: $dark;
            }
        }
    }
}

.gm-control-active.gm-fullscreen-control {
    left: unset !important;
    right: 0;
    top: 0;
}

.gm-svpc {
    display: none;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    top: 0;
}

.sabai-adresar-kategorije {
    .sabai img {
        display: none;
    }
    .sabai-directory-category-children>li {
        margin: 0 0 5px !important;
        color: #616161;
        line-height: 21px;
        font-size: 13px;
    }
    .sabai-directory-category .sabai-directory-category-children {
        padding-left: 7px !important;
        font-size: 0.9em;
        margin: 0.3em 0 1em !important;
    }
    .sabai-directory-categories .sabai-directory-category-title a {
        font-size: 15px;
    }
}

.sabai-form-field-label {
    span {
        font-size: 14px;
        color: #616161;
    }
}

.sabai-form {
    legend span {
        font-size: 14px;
    }
}

.sabai {
    .select2-selection__rendered {
        font-size: 14px;
    }
}


/* ==== END SABAI PLUGIN ======= */

.page-template-adresar {
    .site-footer {
        z-index: 1;
        position: relative;
        position: relative;
        &:before {
            content: '';
            width: 100%;
            height: 30px;
            position: absolute;
            top: -30px;
            background-color: #fff;
        }
    }
}


/*======= ADDRESS ========*/

.sabai-directory-listings-container {
    >.sabai-navigation {
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sabai-btn-group {
        a:nth-of-type(2) {
            display: none;
        }
    }
}

.sabai-directory-listings-container {
    .sabai-navigation {
        span {
            font-size: 14px;
            text-align: left;
        }
        .sabai-pull-left {
            line-height: 30px;
        }
    }
}

.sabai-directory-listings-list .sabai-entity.sabai-directory-listing-featured {
    background-color: rgba(215, 156, 106, 0.08);
    border: 2px solid $orange;
    padding: 15px;
}

.sabai-directory-listings.sabai-col-md-8 {
    width: 100%;
}

.sabai-directory-listings-list .sabai-entity:last-child {
    border: 2px solid #e8e8e8;
}

.sabai-directory-listings-list {
    .sabai-entity {
        border: 2px solid #e8e8e8;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .sabai-directory-title {
        margin-bottom: 0;
    }
    .sabai-directory-body {
        font-weight: 400;
        padding-top: 8px;
        font-family: $main-font;
    }
    .sabai-directory-info {
        span,
        a {
            line-height: 21px;
        }
    }
}

.sabai-entity-bundle-name-directory_listing {
    span.il {
        font-size: inherit;
        color: inherit;
    }
    .sabai-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sabai-caret {
        color: #fff;
    }
    .sabai-navigation-bottom .sabai-btn-group {
        i {
            margin-right: 5px;
            color: $blue;
        }
        a {
            color: $blue !important;
        }
    }
}

.sabai-modal-title {
    span {
        font-size: 16px;
    }
}

.sabai-googlemaps-directions-search {
    margin-top: 10px;
}

.sabai-search {
    background: transparent;
    border: none;
    padding: 0;
    input,
    select {
        padding: 7px 10px !important;
        font-size: 12px;
        font-weight: 400;
        color: #8d8d8d;
        border: 1px solid #e3e3e3;
        font-size: 14px;
    }
    select {
        padding: 2px 10px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #8d8d8d;
        font-size: 12px;
        font-weight: 400;
        font-family: $main-font;
        height: 30px;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #e3e3e3;
        height: 30px;
    }
    .select2-container .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 30px;
    }
    .select2-container {
        width: 100%;
    }
    .sabai-btn {
        padding: 0 !important;
        height: 28px !important;
    }
}

.sabai-navigation {
    font-size: 12px;
    .sabai-btn {
        border: 1px solid $light-grey !important;
        border-radius: 8px;
    }
    .sabai-pull-right {
        float: right !important;
    }
}

.sabai-comment-author {
    a {
        font-size: 12px;
        padding-right: 10px;
    }
}

.sabai-comment-main {
    line-height: 16px;
}

.sabai-comment-comments-actions a {
    font-size: 12px;
    padding-left: 4px;
}

.sabai-directory-social {
    i {
        font-size: 25px;
        margin: 10px 10px 10px 0;
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $blue;
}

.select2-results__option[aria-selected] {
    font-size: 12px;
    padding: 2px 7px;
}

.sabai-dropdown-menu>li>a {
    font-size: 12px;
    padding: 2px 7px;
}

.sabai-directory-filters {
    padding-top: 0;
    width: 100%;
    .sabai-col-sm-6 {
        width: 100%;
    }
}

.sabai-btn-default .sabai-badge {
    background-color: transparent;
    top: 0;
    width: initial;
    height: initial;
    color: $blue;
}

.sabai-directory-search-radius-trigger {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sabai-directory-listings.sabai-col-md-8 {
    border: none;
}

.sabai-badge {
    border-radius: 30px;
    width: 22px;
    height: 22px;
    font-size: 12px !important;
    padding: 0;
    color: $blue;
}

.sabai-btn-danger {
    background-color: transparent !important;
    color: #d9534f !important;
    &:hover {
        background-color: transparent !important;
        color: #d9534f;
        opacity: 0.7;
    }
}

ul.page-numbers {
    display: table;
    margin: 0;
    border-radius: 30px;
    border-width: 0px;
    margin-top: 10px;
    padding-left: 0px;
    li:before {
        display: none;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    li {
        display: block;
        float: left;
        margin: 0 1px;
        text-align: center;
    }
    a,
    span {
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        font-weight: bold;
        cursor: pointer;
        padding: 0;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .prev,
    .next {
        width: auto;
        padding: 0 10px;
        border: 1px solid #ededed;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 100px;
        font-size: 11px;
    }
    .prev {
        margin-right: 5px;
    }
    .next {
        margin-left: 5px;
    }
    .dots {
        width: 24px;
    }
    a:hover {
        color: $orange;
    }
    .current {
        font-weight: 700;
        font-size: 14px;
    }
    .current,
    .current:hover {
        color: #fff;
        background-color: $orange;
        border-radius: 30px;
    }
}

ul.page-numbers ul.page-numbers a span {
    padding: 0;
}


/* ======== PAGE 404 ========== */

.shadow-404 {
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 30px;
    width: 120px;
    height: 10px;
    background-color: #ececec;
    border-radius: 100%;
}

.error-404 {
    @include fluid-type(padding-top,
    320px,
    1200px,
    2rem,
    4rem);
    @include fluid-type(padding-bottom,
    320px,
    1200px,
    2rem,
    4rem);
    h1 {
        @include fluid-type(font-size,
        320px,
        1200px,
        30px,
        48px);
        margin-bottom: 20px;
        color: #505050;
    }
    .page-content {
        h6 {
            font-size: 18px;
            color: #848484;
            margin-bottom: 40px;
            font-weight: 400;
            line-height: 26px;
        }
    }
    .title-line {
        font-size: 18px;
        margin-bottom: 24px;
    }
    .search-field {
        padding: 23px;
    }
    .search-icon {
        right: 15px;
        svg {
            right: 2px;
        }
    }
    .search-button {
        width: 30px;
        height: 30px;
        border: none;
        z-index: 2;
        position: relative;
        background-color: transparent;
    }
}

#searchform,
.searchform,
#mc_embed_signup.search-wrap.newsletter.search-wrap {
    position: relative;
}

.search-field {
    border-radius: 100px !important;
    padding: 16px 30px;
    font-weight: 400;
    transition: 0.25s background;
    border: 1px solid #ededed;
    color: #8d8d8d;
    font-size: 13px;
    height: auto;
    &:focus {
        border-color: $orange;
    }
}

.search-wrap,
#mc_embed_signup.search-wrap.newsletter.search-wrap {
    max-width: 386px;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 47%;
    transform: translateY(-50%);
    input[type='submit'] {
        background-color: transparent;
        border: none;
    }
    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(360deg) !important;
    }
}

.search-field,
#mc_embed_signup.search-wrap.newsletter .search-field {
    border: 1px solid #e3e3e3;
    color: #8d8d8d;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
}

.search-wrap.newsletter,
#mc_embed_signup.search-wrap.newsletter {
    .search-field {
        border-radius: 100px;
        padding: 20px;
    }
    .search-icon {
        padding: 0;
    }
    input[type='submit'] {
        color: #fff;
        background-color: $orange;
        border-radius: 100px;
        padding: 16px 26px;
        font-weight: 400;
        font-size: 14px;
    }
}

#mc_embed_signup.search-wrap.newsletter {
    .search-field {
        padding: 26px 20px;
    }
    input[type='submit'] {
        padding: 0px 26px;
    }
    .button {
        height: 44px;
        background-color: #d79c6a;
        border-radius: 100px;
    }
}

.circle-404 {
    border-radius: 100%;
    background-color: $orange;
    width: 70%;
    height: 0;
    padding-bottom: 67%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    h2 {
        color: #fff;
        font-size: 14rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#wbounce-modal .modal-title {
    display: none;
}

.wbounce-modal form {
    margin-top: 0;
}

#wbounce-modal .wbounce-modal-sub {
    width: 90%;
    height: 350px;
    background-color: #fff;
    overflow: auto;
}

#wbounce-modal .modal-body {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#wbounce-modal .newsletter-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    @include fluid-type(padding,
    320px,
    768px,
    2rem,
    5rem);
    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 22px;
        color: #2b2b2b;
        cursor: pointer;
    }
    .search-wrap {
        width: 100%;
    }
    h3 {
        font-weight: 300;
        text-align: center;
        margin-bottom: 20px;
        @include fluid-type(font-size,
        320px,
        1200px,
        22px,
        30px);
        font-family: $title-font;
        color: $dark;
    }
    p {
        text-align: center;
        margin-top: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        color: $main-font-color;
        font-family: $main-font;
    }
}


/* ========= FORM ========== */

input,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='text'],
select,
textarea {
    border: 1px solid #e3e3e3;
    color: #8d8d8d;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
}

input[type='submit'] {
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 8px;
    background-color: $blue;
    color: #fff;
    cursor: pointer;
}

.wpcf7-form {
     ::placeholder {
        color: #8d8d8d;
        font-style: normal !important;
        font-size: 14px;
    }
    input,
    textarea {
        &:focus {
            &::placeholder {
                opacity: 0.7;
            }
        }
    }
}

.wpcf7-form-control-wrap {
    display: block;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e3e3e3;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
    border-radius: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    color: #8d8d8d;
    height: 42px;
    padding: 5px 20px;
    font-weight: 400;
}

textarea {
    height: 120px;
    padding: 18px 24px;
    border-width: 0px;
    border: 1px solid #e3e3e3;
    resize: vertical;
    overflow: hidden;
}

label {
    font-size: 12px;
    padding-bottom: 3px;
    font-weight: 700;
    color: $dark;
}

span.wpcf7-not-valid-tip {
    font-size: 12px;
    color: #d04242;
    padding-top: 3px;
    padding-left: 9px;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: none;
    border-left: 4px solid transparent;
    padding: 20px 20px;
}

div.wpcf7-validation-errors {
    border-color: #d04242;
}

div.wpcf7-mail-sent-ok {
    border-color: #66b145;
}

table {
    border: 2px solid #bbb !important;
    border-radius: 0 !important;
    border-collapse: collapse !important;
}

table td,
table th {
    border: 1px solid #bbb !important;
}

table td {
    padding: 15px 20px !important;
}

table th {
    padding: 9px 0 !important;
    font-size: 16px;
    color: #505050;
    width: 100px;
}

#lightcase-info {
    padding-top: 8px;
}