.create-report {
    &__wrapper {
        padding: 0 15px;
        @media screen and (min-width: 1300px) {
            padding: 0;
        }
    }
    h5 {
        padding-top: 10px;
        max-width: 550px;
        line-height: 1.618;
    }
    .export-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .report-button {
        width: 250px;
        height: 50px;
        background-color: $blue;
        border-radius: 4px;
        border: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        color: $white;
        transition: background-color 350ms ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: lighten($blue, 10%);
        }
        &:active {
            background-color: lighten($blue, 30%);
        }
    }
    .addPageDiv {
        h6 {
            text-align: left;
            padding-top: 0;
        }
        select {
            height: 50px;
            cursor: pointer;
        }
    }
}

.table-responsive {
    max-height: 500px;
    margin: 0 15px;
    padding-inline: 0;
    td {
        text-align: center;
        line-height: 1.618;
    }
    .new-th {
        position: sticky;
        top: 0;
        padding: 1rem !important;
        background-color: rgb(240, 240, 240) !important;
    }
}