.page-template-map-template {
    .pac-logo {
        height: 95px;
        overflow: hidden scroll;
        border-radius: 5px;
        visibility: hidden;

        &::after {
            display: none !important;
        }
    }

    .pac-item {
        cursor: pointer;
        transition: background-color 250ms ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
    }

    .project__gallery {
        height: 60%;
        overflow: hidden;
        min-height: 200px;

        img {
            object-fit: cover;
        }

        .image {
            display: none;
            width: 100%;
            height: 100%;
        }

        .active {
            display: block;
        }
    }

    .project__name {
        height: unset;
        padding: 1rem;
    }

    .project__description--padding {
        height: 100%;
    }
}

.map {
    &__info {
        width: 30%;
    }
}
