 /* ==================== RESPONSIVE MOBILE FIRST ================== */
 
 @media only screen and (min-width: 480px) {
     .container:not(.promo-header) {
         max-width: 1280px;
     }
     .card-price-wrap {
         width: 80%;
         margin: 0 auto;
     }
     .two-columns {
         display: flex;
         align-items: center;
         >div {
             &:nth-of-type(1) {
                 width: 30%;
             }
             &:nth-of-type(2) {
                 width: 70%;
                 padding: 20px;
                 max-width: 430px;
             }
         }
     }
 }
 
 @media only screen and (min-width: 550px) {
     .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
         transform: translate3d(440px, 0, 0)!important;
     }
 }
 
 @media only screen and (min-width: 594px) {
     .top-header {
         .container {
             max-width: 1220px;
         }
     }
     .header-wrap .site-header .container {
         max-width: 1220px;
         position: relative;
     }
     .grid-item,
     .grid-gallery>p,
     .grid-sizer {
         width: calc(50% - 15px);
     }
     .grid-gallery>p {
         margin-bottom: 2rem;
     }
     .sidebar .theiaStickySidebar {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
         >section,
         >div {
             width: 48%;
         }
         >section:last-of-type {
             width: 100%;
             >div {
                 display: flex;
                 flex-direction: row;
                 flex-wrap: wrap;
                 justify-content: space-between;
             }
         }
         >section:first-of-type {
             display: none;
         }
     }
     .sidebar-block.advertising {
         width: 48%;
         max-width: 300px;
     }
     .contact-form {
         margin: 4rem 0;
         .wp-block-column:nth-of-type(1) {
             flex-basis: calc(35% - 25px);
         }
         .wp-block-column:nth-of-type(2) {
             flex-basis: calc(60% - 25px);
             margin: 0 auto;
         }
     }
     .site-footer {
         ul {
             display: flex;
             flex-direction: row;
             justify-content: center;
         }
         >.container {
             max-width: 1220px;
         }
     }
     .sabai-directory-filters {
         fieldset.sabai-form-field .sabai-form-fields fieldset.sabai-form-field>.sabai-form-fields {
             display: flex;
             >div {
                 padding-right: 20px;
             }
         }
     }
     .gallery-columns-3,
     .gallery-columns-2 {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         figure {
             width: calc(50% - 6px);
         }
         .grid-sizer {
             width: calc(50% - 6px);
         }
     }
     .cta {
         padding-top: 5rem;
         justify-content: space-between;
         flex-direction: row;
         >div {
             width: 68%;
             padding-right: 30px;
         }
         >a {
             width: 30%;
         }
         .btn {
             margin-left: auto;
             margin-top: 0;
             margin-right: 0;
         }
         p,
         img {
             float: left;
         }
         p {
             text-align: left;
         }
         img {
             margin: initial;
             margin: initial;
         }
     }
 }
 
 @media only screen and (min-width: 750px) {
     .top-promo-header {
         //  width: auto;
         max-width: 970px;
         min-height: 286px;
     }
     #div-gpt-ad-1556107878188-0>div iframe,
     #div-gpt-ad-1560269280279-0>div iframe {
         margin-bottom: 18px;
         margin-top: 18px;
     }
 }
 /* ======== TABLET ======= */
 
 @media only screen and (min-width: $tablet) {
     .padding-left {
         padding-left: 170px;
     }
     #wbounce-modal .wbounce-modal-sub {
         width: 580px;
         height: 300px;
     }
     // navigation
     .navbar-expand-md {
         .navbar-nav .nav-link {
             padding: 22px 30px;
         }
     }
     .header-wrap {
         .search-wrap {
             top: initial;
             //  top: 50%;
             transform: translateY(-50%) !important;
             left: initial;
             transform: none;
         }
     }
     .site-header {
         .container {
             padding-top: initial;
         }
     }
     .gallery-columns-3 {
         figure {
             width: calc(33.33% - 8px);
         }
         .grid-sizer {
             width: calc(33.33% - 8px);
         }
     }
     .cta-newsletter {
         display: flex;
         flex-direction: row;
         align-items: center;
         .cta-content {
             width: 60%;
         }
         #mc_embed_signup.search-wrap.newsletter .search-field {
             height: auto;
         }
         .cta-btn {
             width: 40%;
         }
         p {
             margin-bottom: 0;
             padding-right: 20px;
         }
         .search-icon {
             top: 50%;
         }
     }
     .search-icon {
         top: 50%;
     }
     .single .content-right {
         padding-left: 40px;
     }
     .animate {
         animation-name: fadeblog;
         animation-direction: alternate;
         animation-timing-function: ease-in-out;
         animation-duration: 1s;
     }
     .blog-slider {
         .blog-slider-item {
             max-height: 570px;
             height: 570px;
             padding: 45px;
             display: flex;
             align-items: flex-end;
         }
         .blog-slider-mini-list {
             left: initial;
             bottom: initial;
             width: 360px;
             top: 50%;
             transform: translateY(-50%);
             right: 4rem;
             display: block;
             position: absolute;
             z-index: 10;
             padding: 2rem;
             .widget-post-title {
                 margin-bottom: 0;
             }
             .widget-post:not(:last-child) {
                 border-bottom: 1px solid rgba(255, 255, 255, 0.10);
                 padding-bottom: 13px;
                 margin-bottom: 18px;
             }
             .post-categories {
                 font-size: 10px;
                 line-height: 16px;
                 opacity: .7;
                 color: #fff;
             }
             .img-wrap {
                 width: 100px;
             }
         }
         .blog-slider-content {
             width: calc(100% - 360px);
         }
         .slides {
             overflow: hidden;
             max-height: 570px;
             height: 570px;
             border-radius: 8px;
         }
     }
     @keyframes fadeblog {
         0% {
             opacity: 0;
             transform: translateY(10px);
         }
         80% {
             opacity: 0;
             transform: translateY(6px);
         }
         100% {
             opacity: 1;
             transform: translateY(0px);
         }
     }
     .single-post {
         .social-icon {
             flex-direction: column;
         }
         .inner-post-content {
             display: flex;
             flex-direction: row-reverse;
             .vertical-social-icon {
                 width: 10%;
             }
             .post-content {
                 width: 90%;
             }
         }
     }
     .home-card .social-icon-line {
         .social-icon {
             width: 23%;
         }
     }
     .card-price-wrap {
         flex-direction: row;
         width: 100%;
     }
     .card-price {
         width: calc(33.33% - 10px);
         margin-right: 10px;
         margin-bottom: 0;
         &:last-child {
             margin-right: 0;
         }
         .card-header {
             min-height: 160px;
         }
     }
     .address-price {
         .address-benefit {
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: space-between;
             >li {
                 width: calc(50% - 20px);
                 padding: 20px;
             }
         }
     }
     .number-box {
         .highlighted {
             width: calc(66.33% - 10px);
         }
         >div {
             width: calc(33.33% - 15px);
             min-height: 200px;
             &:nth-of-type(1),
             &:nth-of-type(3) {
                 margin-right: 20px;
             }
             &:nth-of-type(2),
             &:nth-of-type(5) {
                 margin-right: 0px;
             }
         }
     }
     .sabai#sabai-embed-wordpress-shortcode-1 {
         .bx-wrapper .bx-pager.bx-default-pager a {
             display: block;
         }
         .bx-wrapper .bx-next,
         .bx-wrapper .bx-prev {
             display: none;
         }
     }
     .bx-wrapper {
         &:hover {
             cursor: pointer;
             .bx-next,
             .bx-prev {
                 display: block !important;
             }
         }
     }
     .post-switch {
         >.row {
             justify-content: flex-end;
             >div {
                 &:nth-of-type(1) {
                     padding-left: 0;
                     padding-right: 15px;
                 }
                 &:nth-of-type(2) {
                     padding-right: 0;
                     padding-left: 15px;
                 }
             }
         }
     }
     .legend {
         justify-content: flex-start;
         >div {
             width: calc(25% - 20px);
             margin-right: 20px;
             max-width: 170px;
         }
     }
     .site-footer {
         ul {
             display: flex;
             flex-direction: row;
             justify-content: flex-start;
         }
         .copyright span {
             text-align: left;
         }
     }
     .breadcrumb-titlebar {
         text-align: initial;
         .row>div {
             justify-content: space-between;
             flex-direction: row;
         }
     }
     .sabai-directory-map-container {
         top: 70px !important;
     }
     .sh-comments .comment-body .reply .sh-comment-date {
         display: block;
     }
     .map-iframe {
         padding-bottom: 43.6%;
     }
     .demographic-box {
         ul {
             height: 160px;
             column-count: 2;
         }
     }
     .map-legend {
         p {
             font-size: 14px;
             margin-right: 15px;
             padding-right: 15px;
             border-right: 1px solid #D8D8D8;
         }
     }
     .mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
         transform: translate(-440px, 0) !important;
     }
     .sidebar-block.advertising {
         width: 32%;
     }
     //  masonry gallery - caption
     .post-inner-content .post-content-gallery-item:hover .post-content-gallery-item-caption {
         opacity: 1;
     }
     .post-inner-content a .post-content-gallery-item-caption {
         opacity: 0;
         color: #555d66;
         padding: 4px 3px;
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: rgba(255, 255, 255, 1);
         transition: all .5s ease-in-out;
     }
 }
 /* ======== LAPTOP ======= */
 
 @media only screen and (min-width: $laptop) {
     .inline-baner {
         display: none;
     }
     .post-inner-content {
         p {
             font-size: 15px;
         }
     }
     .sidebar {
         margin-top: 0;
         padding-left: 0;
         padding-right: 0;
         display: block;
         .advertising-top {
             display: block;
         }
         .theiaStickySidebar>section {
             width: 100%;
             &:first-of-type {
                 display: block;
             }
         }
         .sidebar-block.advertising {
             width: 100%;
         }
     }
     .main-content {
         padding-right: 40px;
         width: calc(100% - 316px);
         flex: none;
     }
     .sidebar {
         width: 300px;
         flex: none;
         max-width: 300px;
     }
     .home {
         .sidebar {
             padding-top: 120px;
             padding-right: 0;
         }
     }
     .logo {
         margin-right: 45px;
         width: 150px;
     }
     // helper classes
     .view-h {
         img {
             max-width: 100%;
             max-height: 100%;
             height: auto;
             width: 100%;
         }
     }
     // blog inner content 
     .two-columns-content div,
     .one-column {
         padding-left: 0;
         padding-right: 0;
     }
     .two-columns-content div,
     .one-column {
         margin-top: 10px;
         margin-bottom: 10px;
     }
     .custom-navigation-blog {
         display: none;
     }
     .sabai-directory-listings-with-map.sabai-row>div {
         width: 49% !important;
     }
     /* ===== ADDRESS ===== */
     .sabai-directory-listings-with-map.sabai-row {
         display: flex;
         justify-content: space-between;
     }
     .sabai-directory-listings-container>.sabai-navigation.sabai-navigation-bottom {
         width: 50%;
         padding: 0 20px 10px;
     }
     .site-footer {
         padding-top: 3rem;
         padding-bottom: 3rem;
     }
     .error-404 {
         @include fluid-type(padding-left, 990px, 1450px, 5rem, 9rem);
         @include fluid-type(padding-right, 990px, 1450px, 5rem, 9rem);
     }
     .home-card.inline-baner,
     .post-inner-content div[id|="div-gpt-ad"] {
         display: none;
     }
 }
 
 @media only screen and (min-width: 1300px) {
     #my-menu {
         display: none !important;
     }
     #backgroundLink {
         display: block;
     }
     .top-header {
         display: block;
         li {
             padding-bottom: 0;
         }
     }
     #main-nav .menu li>a {
         display: flex;
         align-items: center;
     }
     #main-nav {
         height: 95px;
         display: flex;
         align-items: center;
         margin-right: 50px;
         .menu-list-top {
             display: none;
         }
         .current-menu-item {
             a {
                 color: #505050;
             }
         }
         .menu li>a {
             text-transform: uppercase;
         }
         ul {
             margin: 0;
             padding: 0;
             /* only needed if you have not done a CSS reset */
         }
         li {
             float: left;
             line-height: 30px;
             /* this should be the same as your #main-nav height */
             height: 95px;
             /* this should be the same as your #main-nav height */
             margin: 0;
             padding: 0;
             /* only needed if you don't have a reset */
             position: relative;
             /* this is needed in order to position sub menus */
         }
         li a {
             display: block;
             height: 95px;
             line-height: 30px;
             padding: 50px 15px;
             font-family: $title-font;
         }
         .menu-item-has-children {
             position: relative;
             &:after {
                 position: absolute;
                 font-size: 90%;
                 content: "...";
                 transform: rotate(90deg);
                 display: inline-block;
                 font-size: 13px;
                 margin-left: 5px;
                 top: 53%;
                 transform: translateY(-50%) rotate(90deg);
                 right: 0px;
             }
         }
         ul ul {
             position: absolute;
             top: 92px;
             width: 220px;
             max-height: 0;
             opacity: 0;
             overflow: hidden;
             transition: opacity .7s ease-in-out;
             >li {
                 opacity: 0;
                 animation-name: animate-opacity;
             }
         }
         ul ul li {
             float: none;
         }
         ul ul li a {
             padding: 5px 10px;
             text-transform: none !important;
             font-weight: 400;
             line-height: 24px;
         }
         ul li:hover>ul {
             max-height: 500px;
             overflow: initial;
             opacity: 1;
             transition: max-height 0.6s ease-in-out;
             opacity: 1;
             >li {
                 animation-name: mymove;
                 animation-delay: .2s;
                 animation-duration: .3s;
                 animation-fill-mode: forwards;
             }
         }
         @-webkit-keyframes mymove {
             from {
                 opacity: 0;
             }
             to {
                 opacity: 1;
             }
         }
         @keyframes mymove {
             from {
                 opacity: 0;
             }
             to {
                 opacity: 1;
             }
         }
         ul ul li ul {
             left: 242px;
             top: 0;
             border-radius: 8px;
         }
         .sub-menu {
             background-color: $background-color;
             z-index: 999;
             box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 25px;
             margin-left: -25px;
             border-bottom-left-radius: 8px;
             border-bottom-right-radius: 8px;
             .menu-item-has-children:after {
                 transform: translateY(-59%) rotate(0deg);
                 right: 18px;
             }
             li {
                 padding-left: 15px;
                 padding-right: 15px;
                 &:nth-of-type(1) {
                     padding-top: 14px;
                 }
                 &:last-child {
                     padding-bottom: 14px;
                     &.menu-item-has-children:after {
                         transform: translateY(-81%) rotate(0deg);
                     }
                 }
             }
             >li,
             a {
                 height: auto;
             }
         }
     }
     .site-content {
         padding: 0;
     }
     .header-wrap .site-header {
         justify-content: flex-start;
         .container {
             margin-top: 0;
             margin-bottom: 0;
         }
     }
     .header-wrap {
         .hamburger {
             display: none;
         }
         .search-top {
             width: auto;
         }
         .logo {
             width: initial;
         }
     }
     .logo {
         padding-top: 18px;
     }
     .search-top {
         position: absolute;
         right: 10px;
         top: 20px;
     }
 }
 
 @media only screen and (min-width: 1301px) {
     #mm-my-menu {
         display: none !important;
     }
 }
 /* ======== DESKTOP ======= */
 
 @media only screen and (min-width: $desktop) {
     #main-nav {
         padding-right: 10px;
     }
     .header-wrap {
         .search-wrap {
             right: 0;
         }
     }
     .remove {
         display: inline;
     }
     .close {
         position: fixed;
         top: 50px;
         right: 50px;
     }
     .site-footer {
         .copyright span {
             text-align: left;
         }
         .copyright {
             padding-top: 0;
             display: flex;
             align-items: center;
             justify-content: flex-end;
         }
     }
     .number-box {
         >div {
             min-height: 230px;
         }
     }
 }
 
 //  Desctop first
 @media screen and (max-width: 700px) {
     .sh-comment-list ol,
     .sh-comment-list ol ol {
         padding-left: 30px;
     }
 }
 
 @media screen and (max-width: 550px) {
     .sh-comment-list ol ol ol {
         padding-left: 0px !important;
     }
 }
 
 .sh-comment-list>li:first-child {
     border-top-width: 0px !important;
 }
 
 .sh-comments .sh-comments-title,
 .sh-comments .comment-reply-title {
     font-size: 24px;
     margin-bottom: 25px;
 }
 
 .sh-comments #cancel-comment-reply-link {
     text-transform: none;
     font-size: 14px;
     padding-left: 15px;
 }
 
 .sh-comments .submit {
     background-color: #505050;
     color: #fff;
     line-height: 44px;
     padding: 0 30px;
     border: none;
     font-weight: bold;
     font-size: 11px;
 }
 
 .sh-comments .submit:hover {
     background-color: #444444;
 }
 
 .sh-comments #comment {
     height: 135px;
     resize: none;
 }
 
 .comment-body {
     display: table;
 }
 
 .sh-reply-link+.sh-reply-link-button {
     color: red !important;
 }
 
 .comment-body .reply {
     margin-top: 14px;
     padding-left: 0px;
     font-size: 11px;
 }
 
 .comment-body .reply svg {
     font-size: 15px;
     padding-right: 3px;
     margin: 0 10px;
 }
 
 .comment-body .reply .sh-comment-date {
     display: inline-block;
     padding-right: 14px;
     margin-right: 14px;
     position: relative;
 }
 
 .comment-body .reply .sh-comment-date:after {
     content: "";
     display: block;
     position: absolute;
     background-color: #ededed;
     width: 1px;
     top: 4px;
     bottom: 4px;
     right: -1px;
 }
 
 .comment-body .reply .sh-comment-date-reply {
     padding-left: 14px;
 }
 
 .comment-body .sh-reply-link-button {
     padding-right: 15px;
 }
 
 .comment-thumb {
     width: 70px;
     height: 70px;
 }
 
 .comment-column-left {
     display: table-cell;
     vertical-align: top;
     width: 100px;
 }
 
 .comment-column-left img {
     border-radius: 50px;
 }
 
 .comment-column-right {
     display: table-cell;
     vertical-align: top;
 }
 
 .sh-comment-list li.comment,
 .sh-comment-list li.pingback {
     padding-top: 35px;
 }
 
 .sh-comment-list li.pingback .comment-column-left {
     display: none;
 }
 
 .sh-comment-list li.depth-1 {
     border-top: 1px solid #f0f0f0;
     padding-bottom: 35px;
 }
 
 .sh-comment-list .comment .comment-respond {
     padding-top: 30px;
     padding-left: 90px;
 }
 
 .sh-comment-author {
     font-weight: bold;
     font-size: 18px;
 }
 
 .sh-comment-date a {
     color: #8d8d8d;
     font-size: 11px;
 }
 
 .sh-comment-content {
     margin-top: 6px;
 }
 
 .sh-comment-form {
     margin-top: 80px;
     padding: 40px;
     background-color: #f5f5f5;
     border-radius: 8px;
 }
 
 .sh-comment-form svg {
     padding-left: 5px;
 }
 
 .sh-comment-form label {
     margin-bottom: 10px;
     font-size: 12px;
     color: #8d8d8d;
 }
 
 .sh-comment-form label span {
     color: #505050;
 }
 
 .sh-comment-form .sh-comment-form-column {
     width: 33.3%;
     display: inline-block;
     margin-left: -4px;
 }
 
 .sh-comment-form input,
 .sh-comment-form textarea {
     border-width: 0px;
 }
 
 .sh-comment-form-column p {
     margin-right: 25px;
 }
 
 .sh-comment-form-column .comment-form-url {
     margin-right: 0px;
 }
 
 .sh-comment-form p {
     margin-bottom: 25px;
     position: relative;
 }
 
 .sh-comments-required-notice {
     float: right;
     color: #8d8d8d;
     font-size: 13px;
 }
 
 .sh-comments-disabled {
     margin-bottom: 0px !important;
     font-weight: bold;
     text-align: center;
 }
 
 @media screen and (max-width: 800px) {
     .sh-comment-form .sh-comment-form-column {
         width: 100%;
     }
     .sh-comment-form-column p {
         margin-right: 0px;
     }
 }
 
 // lightbox image
 @media screen and (max-width: 600px) {
     #lightcase-content img {
         max-height: 450px !important;
     }
 }